

<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/theme.css"/>
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#"><img class="img-responsive2"
        src="https://omos.s3.amazonaws.com/resources/images/re-logo.png"></a>
    <button class="navbar-toggler" style="z-index:1060;"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="wrap1">
            <div class="wrap2">
                <div class="wrap3">
                    <div class="collapse navbar-collapse wrap4"  id="navbarSupportedContent">
                
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active items">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown items">
                            <a class="nav-link" href="#">Map View</a>
                        </li>
                        <li class="nav-item dropdown items">
                        
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="background:#fd7b26;border:1px solid #000;">
                            <a class="dropdown-item" href="#">FAQs</a>
                            <a class="dropdown-item" href="#">Contact</a>
                            
                        </div>
                        </li>
                        <li class="nav-item items">
                            <a class="nav-link" href="#">Newsletters</a>
                        </li>
                        <li class="nav-item items">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn my-2 my-sm-0 btn-search" type="submit"><i class="fas fa-search fa fa-2x"></i></button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
      </nav>
<!-- main Content-->

<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
            <div class="row justify-content-center align-item-center">
                <div class="col-md-8">
                    <h1 style="font-weight:lighter;margin-top:5em;font-size:40px;text-align:center;">Our missoin is to simpliy the process of outdoor<br>
                    advertisment and marketing </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
            <div class="row justify-content-center align-item-center">
                <div class="col-md-8">
                    <div class="circle-1-trans lg center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
            <div class="row justify-content-center align-item-center">
                <div class="col-md-4">
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="circle-1-trans lg right"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
            <div class="row justify-content-center align-item-center txt-center">
                <div class="col-md-4">
                    <h2>Simple:</h2>
                    <img src="#" width="200px" height="200px"/>
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Free:</h2>
                    <img src="#" width="200px" height="200px"/>
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Accurate:</h2>
                    <img src="#" width="200px" height="200px"/>
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row ">
        <div class="col-md-12">
            <div class="jumbotron" id="panel-1">
                <div class="row justify-content-center align-item-center">
                   <h1>FAQ</h1> 
                </div>
                <div class="row justify-content-center align-item-center">
                    
                    <div class="col-md-8">
                        <ol>
                            <li>new</li>
                            <li>new</li>
                            <li>new</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
            <div class="col-md-12">
                <div class="jumbotron" id="panel-1">
                    <div class="row justify-content-center align-item-center">
                       <h1>Contact Us</h1> 
                    </div>
                    <div class="row justify-content-center align-item-center">
                        
                        <div class="col-md-8">
                            <ol>
                                <li>new</li>
                                <li>new</li>
                                <li>new</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

<!-- footer-->

<div class="row footer" >

        <div class="col-md-8">
            <p style="margin-left:6em;">Contact us and we will get back you withen 24 hours</p>
            <br>
            <ul style="list-style:none;">
                <Li><i class="fas fa-map-marker-alt fa fa-2x" style="margin-right:1em;"></i>H.NO-402 Near DR. Ambedkar Inter Collage Indergrahi,Ghazibad,<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp India, PIN 201302</Li>
                <li><i class="fab fa-whatsapp fa fa-2x" style="margin-right:1em;"></i> +91 9911-639-985</li>
                <li><i class="fas fa-envelope  fa fa-2x"style="margin-right:1em;"></i>teamomoads@gmal.com</li>
            </ul>
            <br><br>
            <p style="margin-left:2em;">tearms & condition</p>
        </div>
        <diiv class="col-md-4">
            <p>Links to other main Pages</p>
            <br><br><br>
            <img src="images/1x1_Logo.png" width="250px" height="auto" alt="" />
            <p>Copyright &copy 2018</p>
        </diiv>
</div>
<!-- footer-->

<!-- main Content-->


</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
