

<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/theme.css"/>
</head>
<body style="background:url('images/back-l.jpg') center no-repeat;background-size:100%;">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#"><img class="img-responsive2"
        src="https://omos.s3.amazonaws.com/resources/images/re-logo.png"></a>
    <button class="navbar-toggler" style="z-index:1060;"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    


    <div class="wrap1">
        <div class="wrap2">
            <div class="wrap3">
                <div class="collapse navbar-collapse wrap4"  id="navbarSupportedContent">
            
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active items">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown items">
                        <a class="nav-link" href="#">Map View</a>
                    </li>
                    <li class="nav-item dropdown items">
                    
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="background:#fd7b26;border:1px solid #000;">
                        <a class="dropdown-item" href="#">FAQs</a>
                        <a class="dropdown-item" href="#">Contact</a>
                        
                    </div>
                    </li>
                    <li class="nav-item items">
                        <a class="nav-link" href="#">Newsletters</a>
                    </li>
                    <li class="nav-item items">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn my-2 my-sm-0 btn-search" type="submit"><i class="fas fa-search fa fa-2x"></i></button>
                </form>
                </div>
            </div>
        </div>
    </div>
  </nav>
  <!-- main Content-->



<div class="row full-height justify-content-center align-items-center" >
    <div class="col-md-6 col-md-offset-6 theme-back-primary-dark txt-cennter "style="background:#fff;padding:20px;">
    

            
            <div class="container-fluid ">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <img src="images/1x1_Logo.png" style="margin-left:35%;" height="auto" width="200px"/>
                        <p class="txt-center" style="font-size:20px;" >Online Marketplace for Outdoor advertising</p>
                    </div>
                </div>
            </div>
        <div class="row">

            <div class="col-md-6" style="border-right:1px solid #ccc;">
                <div class="login-with-box" >
                    <button class=" btn btn-g"><i class="fab fa-google-plus-square"></i> &nbsp;&nbsp;Continue with google</button>
                    
                    <button class="btn btn-fb"><i class="fab fa-facebook"></i>&nbsp;&nbsp;Continue with facebook</button>
                    
                    <p><a href="signup.html" >Continue with email</a>. By signing up you indicate that you have read and agree to Omoads's Terms of Services and Privacy Policy.</p>
                </div>
            </div>
            
            <div class="col-md-6">
                    <div class="panel-body ">
                            <form  action="#" role="">
                                Login
                                <div class="form-group">
                                    <label for="email"></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                                </div>
                                <div class="form-group">
                                    <label for="password"></label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                                </div>
                                <!--
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox"> Check me out
                                    </label>
                                </div>
                                -->
                                <a href="forgot-pass.html">Forgot password ?</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <button type="submit" class="btn btn-hover theme-back-acent" style="background: #fd7b26;color:#000;">Login</button>
                            </form>
                            
                        </div>
                    </div>
                    
            </div>
        </div>
        

    </div>
</div>
          
<!-- footer-->

<!-- footer-->

<!-- main Content-->


</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
