


{% extends 'base.html'%}

{% block content %}
    
    
    
    <div class="row full-height justify-content-center align-items-center" >
        <div class="col-md-6 col-md-offset-6 theme-back-primary-dark txt-cennter "style="background:#fff;padding:20px;">
        
    
                
                <div class="container-fluid ">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <img src="{% static 'img/images/1x1_Logo.png' %}" style="margin-left:35%;" height="auto" width="200px"/>
                            <p class="txt-center" style="font-size:20px;" >Online Marketplace for Outdoor advertising</p>
                        </div>
                    </div>
                </div>
            <div class="row">
    
                <div class="col-md-6" style="border-right:1px solid #ccc;">
                    <div class="panel-body ">
                        <form  action="#" role="">
                            SignUp
                            <div class="form-group">
                                <label for="name"></label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                            </div>
                            <div class="form-group">
                                <label for="email"></label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                            </div>
                            <div class="form-group">
                                <label for="password"></label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                            </div>
                            <!--
                            <div class="checkbox">
                                <label>
                                <input type="checkbox"> Check me out
                                </label>
                            </div>
                            -->
                            
                            <button type="submit" class="btn btn-hover theme-back-acent" style="background: #fd7b26;color:#000;">SignUp</button>
                            <a href="login.html" >Cancel</a>
                        
                        </form>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                        <div class="panel-body ">
                                <form  action="#" role="">
                                    Login
                                    <div class="form-group">
                                        <label for="email"></label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                                    </div>
                                    <div class="form-group">
                                        <label for="password"></label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                                    </div>
                                    <!--
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox"> Check me out
                                        </label>
                                    </div>
                                    -->
                                    <a href="forgot-pass.html">Forgot password ?</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <button type="submit" class="btn btn-hover theme-back-acent" style="background: #fd7b26;color:#000;">Login</button>
                                </form>
                                
                            </div>
                        </div>
                        
                </div>
            </div>
            
    
        </div>
    </div>
              
    <!-- footer-->
    
    <!-- footer-->
    

    {% endblock %}