container_commands:
  00_pipclear:
    command: "source /opt/python/run/venv/bin/activate && yes || pip uninstall futures"
    leader_only: true
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python ecommerce/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
      command: "source /opt/python/run/venv/bin/activate && python ecommerce/manage.py createsu"
      leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python ecommerce/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ecommerce.settings"
    "PYTHONPATH": "/opt/python/current/app/ecommerce:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: ./ecommerce/ecommerce/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>