
 /*Extra small devices (portrait phones, less than 576px)*/
 @media (max-width: 575.98px) {  
    /*For mobile phones: */
  
     .kw-model-dialog{
        
        width:90% !important;
        margin: 10px !important;
        
    }

     body{
         overflow-x: hidden;
     }
}

 @media (min-width: 600px) {
     /* For Desktop */
    .swip__card{
        left:-2%;
    }
     
 }



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body,html {
    height: 100%;
    width:100%;
    border: 0;
    margin: 0px;
    padding: 0px;

    max-width:457px;
}
.paper{
    width: 100%;
    background: #efefef;
    box-shadow: 2px 1px 5px rgb(92, 92, 92),
                2px 3px 10px #ccc;
    min-height:50px;
    border: 0;
    padding: 0px;
    padding: 10px;

}
.nav-fixed{
    position: fixed;
    top:0;
    left: 0;
    z-index: 5;
}
.img-block-container{
    padding: 0px;
    width: 100%;
    justify-content: center;


}
.img-block{

    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
    
}
.img-block div{
    background: rgba(0,0,0,0.8);
    position: relative;
    top:-30px;
    left: 15px;
    height: 30px;
    float: left;
    width:100%;
}
.img-block div h5{
    color:#ccc;
}
.img-block img{
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 100%;
}
#app-view{
    display: block;
}

.info-bar-small{
    width:100%;
    position: absolute;
    top:50px;
    left:0px;
    padding: 10px;
    min-height: 100px;
    background: #efefef;
    
}
.vr-container{
    width:100vw;
    height: 100vh;
    /*max-height: 420px;*/
    min-height: 570px;
    position: absolute;
    top:100px;

    /*background-color:#333;*/
    padding:10px;
    box-sizing: border-box;
    justify-content: center;
}
.vr-paper-1{
    width:90%;
    max-height: 520px;
    min-height: 520px;
    position: absolute;
    top:5px;
    background-color:rgb(245, 239, 239);
    z-index: 2;
    left:calc(100% - 93%)
}
.vr-paper-2{

    width:87%;
    max-height: 520px;
    min-height: 520px;
    position: absolute;
    top:12px;
    left:calc(100% - 91%);
    background-color:#ccc;
    box-shadow: 0px 1px 2px rgb(53, 53, 53),
                0px 2px 2px rgb(97, 97, 97),
                0px 3px 17px rgb(160, 160, 160);
    z-index: 1;
}
.vr{
    width:100%;
    min-height: 350px;
    background: #e95a08;
    
}
.gallay-wrapper{
    transition-duration: 1s;
  width: 100%;
  min-height: 120px;
  position: absolute;
  top:550px;
  background: #efefef;
  z-index: 2;
  box-shadow: 2px -1px 5px rgb(92, 92, 92),
                2px -3px 10px #ccc;
}
.btn-more{
    z-index: 5;
    position: absolute;
    top:-20px;
    left:calc(50% - 25px);
    height:50px;
    width:50px;
    border-radius:50%;
    box-shadow: 0px 3px 0px rgb(92, 92, 92),
                0px -2px 5px rgb(92, 92, 92);;

}
.info-block{
    text-align: center;
    box-sizing: border-box;
    padding: 16px;
    position: absolute;
    top:80%;
    border:2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px rgb(53, 53, 53),0px 3px 5px #ccc;
    width:100%;
    background: #fff;
    
    
}
.btn-avail{
    background: #e95a08;
    color: black;
}
.btn-share{
    position: absolute;
    right :20px;
    top:10px;
    background: #e95a08;
    color: #fff;
}
.fa-info-circle{
    position: absolute;
    right: 10px;
    color: #e95a08;
}
.fa-map-marker-alt{
    position: relative;
    left: -50px;
    top:5px;
    color: #e95a08;
}

/**
*
*/
.swip__card {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    border:2px;
    border-radius: 10px;
    width: 90vh;
    height: 60vh;
    margin-left:calc(100vh - 95vh);
    margin-top:1em;
    background: #fff;
    box-shadow: 0px 1px 3px rgb(53, 53, 53),
                0px 3px 5px #ccc;
    transform-origin: 50% 100%;
  }
  .swip__card.reset {
    transition: transform 0.3s;
    transform: translateX(0) !important;
  }
  .swip__card.reset .swip__card__choice {
    transition: opacity 0.3s;
    opacity: 0 !important;
  }
  .swip__card.inactive {
    transition: transform 0.3s;
  }
  .swip__card.to-left {
    transform: translateX(-30rem) rotate(-30deg) !important;
  }
  .swip__card.to-right {
    transform: translate(30rem) rotate(30deg) !important;
  }
  .swip__card.below {
    z-index: 1;
  }
  .swip__card__top {
    height: 20.5rem;
    padding-top: 4rem;
  }
  .swip__card__choice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .swip__card__choice:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
    color: #fff;
    border-radius: 50%;
    box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
  }
  .swip__card__choice:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4rem;
    height: 1.5rem;
    margin-left: -2rem;
    border: 0.6rem solid #fff;
    border-bottom: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .swip__card__choice.m--reject {
    background: #FF945A;
  }
  .swip__card__choice.m--like {
    background: #B1DA96;
  }
  .swip__card__choice.m--like:after {
    transform: scaleY(-1);
  }
  .swip__card__drag {
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
  }
  .swip__tip {
    text-align: center;
    font-size: 2.2rem;
  }

  /*
  * model
  */
  .kw-model{
    z-index: 1002;
    position:fixed;
    left: 0px;
    top:0px;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.274);
    display:none;   
}
.kw-model-dialog{
    z-index: 1003;
    width:40%;
    background: #fff;
    border-radius: 5px;
    margin:auto;
    margin-top: 10%;
    padding:15px;
}
.kw-model-close{
    color:#000;
    border:1px solid #000;
    position: relative;
    background: none;
    width:25px;
    border-radius: 50%;
    padding: 0px;
    text-align: center;
    height:25px;
    top:10px; 
    left:calc(100% - 40px);
}
.kw-model-body{
    width:100%;
    margin-top:10px;
    background: rgb(255, 255, 255);
    padding: 10px;
}



.kw-popOver{
    background:rgba(0,0,0,0.5);
    color:#fff;
    border-radius:5px;
    padding:5px;
    width:100%;
    
    display: none;
   
  }
  .progress-bar{
      border :1px solid #333;
  }
  #period1:hover {width:10% !important;}
  #period2:hover  {width:10% !important;}
  #period3:hover  {width:10% !important;}
  #period4:hover  {width:10% !important;}
  #period5:hover  {width:10% !important;}
  #period6:hover  {width:10% !important;}
  #period7:hover  {width:10% !important;}
  #period8:hover  {width:10% !important;}
  #period9:hover  {width:10% !important;}
  #period10:hover  {width:10% !important;}
  #period11:hover  {width:10% !important;}
  #period12:hover  {width:10% !important;}
  #period13:hover  {width:10% !important;}
    
  #period1:hover  #pop1{display:block;}
  #period2:hover  #pop2{display:block;}
  #period3:hover  #pop3{display:block;}
  #period4:hover  #pop4{display:block;}
  #period5:hover  #pop5{display:block;}
  #period6:hover  #pop6{display:block;}
  #period7:hover  #pop7{display:block;}
  #period8:hover  #pop8{display:block;}
  #period9:hover  #pop9{display:block;}
  #period10:hover  #pop10{display:block;}
  #period11:hover  #pop11{display:block;}
  #period12:hover  #pop12{display:block;}
  #period13:hover  #pop13{display:block;}
 
  .static-btn{
	 
    position:fixed;
    bottom:0;
    left:0;
    z-index:1020;
    background:#efefef;
    width:100%;
    height:50px;
    padding-left:7px;
}
.btn-left{
   border-radius:0px;
   color:#e95a08;
   height:inherit;
   background:#efefef;
   width:32%;
   margin:0;
   
}
.btn-start{
   border-radius:0px;
   color:#e95a08;
   height:inherit;
   width:32%;
   background:#efefef;
   margin:0;
}
.btn-right{
   border-radius:0px;
   color:#e95a08;
   height:inherit;
   width:32%;
   background:#efefef;
   margin:0;
}

img{
    width:100%;
    height:100%;
}






