

{% extends 'base.html'%}

{% block content %}


<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
            <div class="row justify-content-center align-item-center">
                <div class="col-md-8">
                    <h1 style="font-weight:lighter;margin-top:5em;font-size:40px;text-align:center;">Our missoin is to simpliy the process of outdoor<br>
                    advertisment and marketing </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
            <div class="row justify-content-center align-item-center">
                <div class="col-md-8">
                    <div class="circle-1-trans lg center"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
            <div class="row justify-content-center align-item-center">
                <div class="col-md-4">
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
                <div class="col-md-8">
                    <div class="circle-1-trans lg right"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron" id="panel-1">
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
            <div class="row justify-content-center align-item-center txt-center">
                <div class="col-md-4">
                    <h2>Simple:</h2>
                    <img src="#" width="200px" height="200px"/>
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Free:</h2>
                    <img src="#" width="200px" height="200px"/>
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Accurate:</h2>
                    <img src="#" width="200px" height="200px"/>
                    <p>
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row ">
        <div class="col-md-12">
            <div class="jumbotron" id="panel-1">
                <div class="row justify-content-center align-item-center">
                   <h1>FAQ</h1> 
                </div>
                <div class="row justify-content-center align-item-center">
                    
                    <div class="col-md-8">
                        <ol>
                            <li>new</li>
                            <li>new</li>
                            <li>new</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
            <div class="col-md-12">
                <div class="jumbotron" id="panel-1">
                    <div class="row justify-content-center align-item-center">
                       <h1>Contact Us</h1> 
                    </div>
                    <div class="row justify-content-center align-item-center">
                        
                        <div class="col-md-8">
                            <ol>
                                <li>new</li>
                                <li>new</li>
                                <li>new</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

{% extends 'footer.html' %}

{% endblock %}