



{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}

<div class="row full-height justify-content-center align-items-center" >
    <div class="col-md-6 col-md-offset-6 theme-back-primary-dark txt-cennter "style="background:#fff;padding:20px;">
    

            
            <div class="container-fluid ">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <img src="{% static 'img/images/1x1_Logo.png' %}" style="margin-left:35%;" height="auto" width="200px"/>
                        <p class="txt-center">Online Marketplace for Outdoor advertising</p>
                    </div>
                </div>
            </div>
            <br><br>
        <div class="row justify-content-center">

            
            
            <div class="col-md-8">
                    <div class="panel-body ">
                            <!-- <form  action="#" role=""> -->
                            <form method="post">
                                {% csrf_token %}
                                Forgot password
                                <div class="form-group">
                                    <label for="email"></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" style="border:2px solid #d2bd7f;border-radius:0px;background:#cacaca;">
                                </div>
                                
                                <!--
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox"> Check me out
                                    </label>
                                </div>
                                -->
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <a href="login.html">Login</a>
                                        
                                    </div>
                                    
                                    <div class="col-md-4"><button type="submit" class="btn btn-hover theme-back-acent" style="background: #fd7b26;color:#000;margin-left:2.5em;">Submit</button></div>
                                </div>
                            </form>
                            
                        </div>
                        <p> We will send a password rest link to your mail</p>
                    </div>
                   
                    
            </div>
            <br> <br>
        </div>
        

    </div>
</div>
          
<!-- footer-->

<!-- footer-->

{% endblock %}

    {% block custom_js %}
    <script>
        $('body').css("background", "url('"+ "{% static 'img/images/back-l.jpg' %}" +"') center no-repeat")
        $('body').css("background-size", "100%")
    </script>
    {% endblock %}