{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  

  <title>OmoAds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/nprogress.css' %}" rel="stylesheet" />
  <link href="{% static 'css/pace-theme-center-atom.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

  <!-- <link rel="apple-touch-icon" sizes="57x57" href="{% static 'resources/images/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'resources/images/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'resources/images/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'resources/images/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'resources/images/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'resources/images/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'resources/images/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'resources/images/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'resources/images/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'resources/images/favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'resources/images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'resources/images/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'resources/images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'resources/images/favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'resources/images/favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
 -->

 <!-- favicon -->
 <link rel="manifest" href="{% static 'resources/images/favicon/manifest.json' %}">
 <link href="https://fonts.googleapis.com/css?family=Raleway|Alegreya:400,700" rel="stylesheet">
 
 <link rel="shortcut icon" sizes="16x16" type="image/ico" href="{% static 'resources/images/favicon/omo.ico' %}" />
 <link rel="icon" sizes="16x16" type="image/ico" href="{% static 'resources/images/favicon/omo.ico' %}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105587377-1', 'auto');
    ga('send', 'pageview');

  </script>

  <!-- <script src="{% static 'js/landingPage.js' %}"></script> -->
  


  <link rel="stylesheet" href="{% static 'css/landingPage.css' %}">
  <script src="{% static 'js/nprogress.js' %}"></script>
  <script data-pace-options='{ "ajax": false }' src="{% static 'js/pace.js' %}"></script>
  
</head>

<style type="text/css">
  .bannerImage {
    background: black;
  }
  @keyframes fadeout {
    0%{opacity:0;top:50%}
    20%{opacity:1;}
    80%{opacity:1;top:50%;}
    100%{opacity:0;
      top:-50%;
    }

  }
  .col-control{
    position: absolute;
    left: -25px;
    height: 50px;
    background-color: #ddd;
    border-radius: 3px;
  }
  .col-control:focus{
    outline: none;
  }
  #filter-sec #pac-input{
    margin: 0 3px 4px 3px;
    border-radius: 5px 5px 4px 4px;
    height: 45px;
    border: 0;
    width: calc(100% - 6px);
  }
  #filter-sec{
    position: absolute;
    z-index: 10;
    right: 0;
    transition: all 100ms ease-out;
  }
  #filter-sec.collapse-right, #control-contain.collapse-right{
    transform: translate3d(100%, 0, 0);
  }
  /* .cont{
    position: relative;
  } */
  /* .home-overlay, .blurred{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 99;
    background: radial-gradient(rgba(0,0,0,0.55), #000);
    color: #fff;
  }
  .home-hs{
    text-align: center;
    letter-spacing: 1px;
  }
  .home-hs h1{
    font-size: 3.7em;
    letter-spacing: 8px;
  }
  .home-hs h1, .home-hs h2{
    font-family: Raleway;
  }
  .home-features{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }
  .home-features .options{
    padding: 10px 5px;
    border-radius: 4px;
    width: 190px;
    text-align: center;
  }
  .options h3{
    font-size: 1.5em;
    margin: 10px 0 10px 0;
    font-family: Alegreya;
    letter-spacing: 1px;
  }
  .options img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fff;
  } 
  .home-overlay button{
    background-color: #ff6c00;
    color: #fff;
    border-radius: 5px;
    border: 0;
    transition: all 200ms ease;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.3em;
  }
  .home-overlay button:hover{
    background-color: #fff;
    color: #ff6c00;
  }
  .blurred{
    background-color: #fff;
    z-index: 50;
    filter: blur(5px);
    background-image: url(https://user-images.githubusercontent.com/24919422/42364187-eec3d946-8117-11e8-9ea1-0f7600cf2970.PNG);
    background-size: cover;
    background-position: center;
  } */
  .panel{
    margin-bottom: 5px;
  }
  .panel .panel-heading{
    position: relative;
    background-color: #eee;
    border-bottom: 0;
    z-index: 5;
  }
  .card.panel{
    border: 0;
    /* margin-bottom: 0; */
    padding-bottom: 0;
  }
  .panel .panel-heading.filter-header{
    background-color: #373737;
  }
  .panel .panel-body{
    display: none;
    transition: all 200ms linear;
    z-index: 1;
    padding: 5px 15px;
  }
  .panel .panel-heading{
    cursor: pointer;
  }
  .panel.open .panel-body{
    display: block;
  }
  #range-output{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .price-details{
    margin-top: 13px;
  }
  .availability{
    text-align: center;
    padding: 5px 0;
  }
  .availability button{
    width: 100%;
    font-size: 18px;
    background-color: #000;
    color: #ff6c00;
  }
  .owner-details{
    text-align: right;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 23px;
    display: inline-block;
  }
  .follow h1, .follow h4, .follow h2, .follow h3, .follow h5, .availability button{
    font-family: Raleway;
  }
  .follow p{
    font-family: Alegreya;
  }
  #myModal .right{
    border: 0;
  }
  #myModal .right form{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #myModal .right form #MyModalAddCart{
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.5);
  }
  #myModal .left{
    border-right: 1px solid #e0e0e0;
  }
  #myModal .modal-footer .col-sm-8{
    display: flex;
    float: right;
    padding: 0;
    justify-content: space-between;

  }
  #myModal .modal-footer form{
    display: inline-block;
  }
  #availModal .modal-dialog{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    height: fit-content;
    margin: auto;
  }
  #message {
    position: absolute;
    z-index: 9999;
    top: -50%;
    left: 25%;
    right: 25%;
    background: #fde073;
    text-align: center;
    animation-name: fadeout;
    animation-duration: 2s;
    overflow: hidden;
    opacity:0;
    box-shadow: 0 0 5px black;

  }

  .view-cart{
    padding-right: 30px;
  }
  .view-cart .row{
    margin-left: 0px;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

</style>

<body>
<script type="text/javascript">
  Pace.start()

  </script>



{% if messages %}
    <div id="message">
{% for message in messages %}
   
<script type="text/javascript">
  if("{{message.extra_tags}}" == "wrong_credentials"){
    
    $(document).ready(function(){
      $('#loginModal').modal();
    });
  }
</script>

   <h3> {{ message }}</h3>
{% endfor %}
    </div>
{% endif %}

<section id = "sectionTry">
<script>
 
  $('#sectionTry').hide();
 
</script>
{% include 'navbar1.html' %}
  <!-- Login Modal -->
 
<div class="cont" style="overflow: hidden;">

  <!-- <div class="home-overlay">
  
    <div class="home-hs">
      <h1>OMOADS</h1>
      <h2>Search, Connect and Rent</h2>
    </div>

    <div class="home-features">
      <div class="options">
        <img src="https://user-images.githubusercontent.com/30261658/42705332-9989fa94-86f0-11e8-95b1-a00310e93bf1.png" alt="Not Found" style="background-color: transparent;"/>
        <h3>0% Commision</h3>
      </div>
      <div class="options">
        <img src="https://user-images.githubusercontent.com/30261658/42703695-e48d0190-86ea-11e8-9e35-4ef3c206fcb8.png"/>
        <h3>Check availability</h3>
      </div>
      <div class="options">
        <img src="https://user-images.githubusercontent.com/24919422/42629007-8244064c-85ef-11e8-9597-f7eac559ce2d.png"/>
        <h3>Get geographic location</h3>
      </div>
    </div>

    <button class="home-inventory" value="Browser" onclick="hideHome()">Browse Inventory</button>
  </div>
  <div class="blurred"></div>
  <script>
    function hideHome(){
      document.querySelector('.home-overlay').style.display = 'none';
      document.querySelector('.blurred').style.display = 'none';
    }
  </script> -->

  <div class="container-fluid box" style="position: relative;">
    <div class="secondBox col-sm-12" >
      <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Location"> -->
      <div id="map" style="width: 100%; height: 100%; background-color: #ff6c00; flex: 1 1 auto; overflow: auto; "></div>
    </div>
    <div class="col-sm-3" id="control-contain" style="position: absolute; right: 0; transition: all 100ms ease-out;">
      <button class="col-control"><i class="fas fa-angle-right"></i></button>
    </div>
    <div class="col-sm-3 filter follow" id="filter-sec" style="overflow-y: scroll;">
      <input id="pac-input" class="controls" type="text" placeholder="Search Location">
      <form id="filterForm">
    
        <div class="sort">
          <h4 style="padding: 8px; margin: 0px;"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size: 14px;"></span>  Sort By</h4>
        </div>
        {% if user.is_authenticated %}
        <!-- <div class="panel panel-default banner-panel open">
            <div class="panel-heading"><h4>Banner Details  <i class="fas fa-sort-down"></i></h4></div>
            <div class="panel-body">
              <p><strong>Pole ID:</strong> <span id="panelID">loading...</span></p>
              <p><strong>Dimensions:</strong> <span id="dimensions">loading...</span></p>
              <p><strong>Type:</strong> <span id="type">loading...</span></p>
              <p><strong>Lighted:</strong> <span id="lighted">loading</span></p>
              <p><strong>Facing:</strong> <span id="BannerFacing">Bus Station</span></p>
              <p><strong>Zone:</strong> <span id="zone">Hapur Road</span></p>
            </div>
          </div> -->
        <div class="card panel panel-default">
          <div class="filter-header panel-heading">
            <h5>USER</h5>
          </div>
          <div class="check view-cart panel-body">
          
            <div class="checkbox">
              <div class="row">
                <p>
                View Campaign
                <label class="switch pull-right">
                  <input id="cart" name="user" onchange="submit_filter();" 
                  type="checkbox" value="0">
                  <span class="slider round"></span>
                </label>
                </p>
              </div>
            </div>
          <!-- <div class="checkbox">
              <label>
                <input id="order" name="user" onchange="submit_filter();" 
                type="checkbox" value="0">ORDER
              </label>
          </div> -->
          
          </div>
        </div>
        {% endif %}
        <div class="card panel panel-default">
          <div class="filter-header panel-heading">
            <h5>DIMENSIONS</h5>
          </div>
          <div class="check panel-body">
            {% for dimensions_of_banner in form.dimensions_banner %}
            <div class="checkbox">
              <p>
                <label>
                  {{  dimensions_of_banner }}
                </label>
              </p>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="card panel panel-default">
          <div class="filter-header panel-heading">
            <h5>TYPE</h5>
          </div>
          <div class="check panel-body">
            {% for type_of_banners in  form.type_banner %}
            <div class="checkbox">
              <p>
                <label>
                  {{ type_of_banners }}
                </label>
              </p>
            </div>
            {% endfor %}
          </div>
        </div>

          <div class="card panel panel-default">
            <div class="filter-header panel-heading">
              <h5>LIGHTED</h5>
            </div>
            <div class="check panel-body">
              {% for lights_of_banners in  form.lighted_banner %}
              <div class="checkbox">
                <p>
                  <label>
                    {{ lights_of_banners }}
                  </label>
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
var submit_filter = function() {
  
  $.ajax({
           type: "POST",
           url: "{% url 'filter_form' %}",
           beforeSend: function(){
                                NProgress.start();
                               },
           data: {"filter_form": $("#filterForm").serialize(),
                  "csrfmiddlewaretoken": "{{ csrf_token }}",
                  },
           success: function(data)
           {
            for(let marker of markerGroup)
            {
              if(data["ids"].indexOf(marker.id_try)!==-1)
              {
                marker.setVisible(true)
              }
              else
              {
                marker.setVisible(false)
              }
                
            }
            markerCluster.repaint();
            NProgress.done();
                
           },
           error: function(data)
           {
              console.log("some error");
           },
         });   
}
$('.col-control').on('click', function(ev){
  $('#filter-sec, #control-contain').toggleClass('collapse-right')
  if($('#filter-sec, #control-contain').hasClass('collapse-right')){
    this.innerHTML = `<i class="fas fa-angle-left"></i>`
  }
  else{
    this.innerHTML = `<i class="fas fa-angle-right"></i>`
  }

})
</script>

<div class="footer"></div>
</section>

  <!-- Banner model -->
  <!-- Modal starts its magic -->

  <div class="modal fade follow" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">Hapur Road, Near Hapur Chungi</h3>
        </div>

        
        <div class="modal-body">
          <!-- the content -->
          <div class="row">
            <div class="col-sm-4 left">
              <div class="panel panel-default banner-panel open">
                <div class="panel-heading"><h4>Banner Details  <i class="fas fa-sort-down"></i></h4></div>
                <div class="panel-body">
                  <p><strong>Pole ID:</strong> <span id="panelID">loading...</span></p>
                  <p><strong>Dimensions:</strong> <span id="dimensions">loading...</span></p>
                  <p><strong>Type:</strong> <span id="type">loading...</span></p>
                  <p><strong>Lighted:</strong> <span id="lighted">loading</span></p>
                  <p><strong>Facing:</strong> <span id="BannerFacing">Bus Station</span></p>
                  <p><strong>Zone:</strong> <span id="zone">Hapur Road</span></p>
                </div>
              </div>
              <div class="panel panel-default owner-panel">
                <div class="panel-heading"><h4>Owner Details  <i class="fas fa-sort-down"></i></h4></div>
                <div class="panel-body">
                  <p class="o_name"><strong>Owner Name:</strong> <span>Pole Ads</span></p>
                  <p class="o_contact"><strong>Contact:</strong> <span>0123456789</span></p>
                  <p class="o_email"><strong>Email:</strong> <span>asd@qwe.zxc</span></p>
                  <p class="o_add"><strong>Office Add.:</strong> <span>Pole Ads</span></p>
                </div>
              </div>

              
              <!-- <div class="row date-input">
                <div class="col-sm-8 date-input-form">
                  <form>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <input id="datePicker" type="text" class="form-control" placeholder="Start Date">
                    </div>
                  </form>
                </div>
                <div class="col-sm-4 date-range-button">
                  <button class="btn btn-primary dropdown-toggle pull-right disabled" type="button" data-toggle="dropdown">Range
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" id="rangeSelector">
                    <li id="next30"><a href="#">Next 30 Days</a></li>
                    <li id="next45"><a href="#">Next 45 Days</a></li>
                    <li id="next60"><a href="#">Next 60 Days</a></li>
                    <li id="next90"><a href="#">Next 90 Days</a></li>
                    <li id="next120"><a href="#">Next 4 Months</a></li>
                    <li id="next150"><a href="#">Next 5 Months</a></li>
                    <li id="next180"><a href="#">Next 6 Months</a></li>
                  </ul>
                </div>
              </div>
              <div id="range-output" class="alert alert-danger"><em>Select start date and range</em></div> -->
              <div class="price-details">
                  <p>Price:<span class="pull-right" id="priceMyModal">&#8377; 00.00</span></p>
              </div>
              <div class="msg">
                <p><em>*(Above mentioned price is approximate and subject to bargaining)</em></p>
              </div>
              <div class="availability">
                <button id="avail-but" class="btn">Check Availability</button>
              </div>
              <!-- <div class="owner-details">
                <p>Owner Name: <span>Pole Ads</span></p>
                <p>Contact: <span>0123456789</span></p>
                <p>Email: <span>asd@qwe.zxc</span></p>
                <p>Office Add.: <span>Pole Ads</span></p>
              </div> -->
            </div>
            <div class="col-sm-8 right">
              <div style="position: relative;">
                <form method = "POST" action = "{% url 'addToCart' %}">
                  {% csrf_token %}
                  <input type="hidden" name = "startDateAddCart" id="startDateAddCart" value = "">
                  <input type="hidden" name = "endDateAddCart" id="endDateAddCart" value = "">
                  <input type="hidden" name = "bannerIDAddCart" id="bannerIDAddCart" value = "">
                  <button type="submit" class="btn" id="MyModalAddCart" value="Add To Cart" name="Add to favourites"><i class="fas fa-heart"></i></button>
                </form>
                <img src="{% static 'resources/gif/page_loading.gif' %}" id="bannerImage" class="img-thumbnail" alt="Banner Image">
              </div>

              <!-- The owner button div  -->
              

              

            </div>
          </div>
          
        </div>

        <!-- <div class="modal-footer">
          <div class="col-sm-8">
            <div class="owner-details">
              <button class="btn btn-primary" id="own-det">About Owner</button>
            </div> -->
          <!-- </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="availModal" tabindex="-1" role="dialog" aria-labelledby="availModalLabel" aria-hidden="true">
      <style>
        #availModal *{box-sizing: border-box;}header{position: relative;width: 100%;}header h1{text-align: center;padding-top: 0.01em;}header p{text-align: center;}header p span{display: inline-block;height: 12px;width: 12px;background-color: #0f0;}main{display: grid;/*grid-template-columns: 30% 70%;*/grid-gap: 5px;}.col{margin: 10px 0;line-height: 2;text-align: center;}.data-strip{position: relative;display: inline-block;height: 30px;width: 100%;text-align: left;grid-gap: 0;}.child{display: inline-block;height: 100%;margin-right: 3px;transition: all 200ms ease;}.child.booked{background-color: #0f0;}.child.not-booked{background-color: #888;}.child:hover{transform: scale(1.4);box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);transition: all 200ms ease;}
      </style>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="availModal-close close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="availModalLabel">Availability</h3>
        </div>
        
        <div class="modal-body">
          <header>
            <p><span></span> Booked<br />Hover over it for details</p>
          </header>
          <main style="text-align: center;">
            <!-- <div class="left-col col">Billboard 1</div> -->
              <div class="right-col col">
                <div class="data-strip"></div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
  <script>
  // let json = [{"startDate": "2018/06/23","endDate": "2018/06/30","ppd": 35,"status": "booked"},{"startDate": "2018/08/06","endDate": "2018/08/30","ppd": 40,"status": "booked"},{"startDate": "2018/08/31","endDate": "2018/09/15","ppd": 45,"status": "booked"},{"startDate": "2018/11/16","endDate": "2018/11/28","ppd": 22,"status": "booked"},{"startDate": "2018/11/29","endDate": "2019/01/15","ppd": 20,"status": "booked"},{"startDate": "2019/01/31","endDate": "2019/02/28","ppd": 34,"status": "booked"},{"startDate": "2019/03/01","endDate": "2019/03/10","ppd": 54,"status": "booked"},{"startDate": "2019/04/12","endDate": "2019/04/15","ppd": 37,"status": "booked"},{"startDate": "2019/04/16","endDate": "2019/06/23","ppd": 29,"status": "booked"}]
  
  
  </script>


  

</body>


<!-- banner modal script start -->
<script type="text/javascript">

  (function(){
    const hgt = $('#myModal .modal-dialog').height
    console.log(hgt)
  })()

  $('.panel .panel-heading').click(function(){
    if($(this).parent().hasClass('banner-panel')){
      $('.panel.owner-panel').removeClass('open')
    }
    else if($(this).parent().hasClass('owner-panel')){
      $('.panel.banner-panel').removeClass('open')
    }
    $(this).parent().toggleClass('open')
  })

$(function() {

    var startDate;

    $("#next30").on("click",function(){
      nextDays(30);
    });
    $("#next45").on("click",function(){
      nextDays(45);
    });
    $("#next60").on("click",function(){
      nextDays(60);
    });
    $("#next90").on("click",function(){
      nextDays(90);
    });
    $("#next120").on("click",function(){
      nextDays(120);
    });
    $("#next150").on("click",function(){
      nextDays(150);
    });
    $("#next180").on("click",function(){
      nextDays(180);
    });

    function nextDays(x){
      startDate = $('#datePicker').data('daterangepicker').startDate;
      end = moment(startDate).add(x-1, 'days');
      setDate(startDate,end,x-1);
    }

    function setDate(start,end,days){
      $('#datePicker').data('daterangepicker').setEndDate(end);
      $('#range-output').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));

      console.log(invalidDates);

      handleDateInput(start, end)
    }


    function handleDateInput(start, end)
    {
      console.log("handleDateInput");
                    var diff = end.diff(start, 'days')
                    console.log(diff)
                    
                    var flag = 0
                    for (var i = 0; i<invalidDates.length;i++)
                    {

                      if(invalidDates[i] >= start.format('YYYY-MM-DD') && invalidDates[i] <= end.format('YYYY-MM-DD'))
                      {
                        flag  = 1;
                      // $('.price-details p span').html("Date range has invalid dates.")
                      $('.msg p em').html('Date range has invalid dates.');
                      $('.msg p').css('color','red');
                      $('.msg p').css('font-size','14px');
                      $('#range-output').removeClass("alert-success");
                      $('#range-output').addClass("alert-danger");
                      $('#MyModalAddCart').attr("disabled", true)
                        break;
                      }
                    }
                    if(flag == 0)
                    {
                      $('#MyModalAddCart').attr("disabled", false)
                      $('#range-output').removeClass("alert-danger");
                      $('#range-output').addClass("alert-success");
                      $('.msg p em').html('Your Date Range is available but filling fast! Hurry!');
                      $('.msg p').css('color','green');
                      $('.msg p').css('font-size','14px');

                      // $(this).css("color", "green").fadeIn(500);
                      
                    
                      $.ajax({
                              type: "POST",
                              url: "{% url 'AjaxBannerPrice' %}",
                              beforeSend: function(){
                                // Handle the beforeSend event
                                console.log("working")
                                NProgress.start();
                               },
                               complete: function(){
                                 // Handle the complete event
                                 NProgress.done();
                               },
                              data: {
                               "csrfmiddlewaretoken": "{{ csrf_token }}",
                               "id_point":BoardIdForPrice,
                               "startDate":start.format('YYYY-MM-DD'),
                               "endDate":end.format('YYYY-MM-DD'),

                              },
                               success: function(data){
                                $('.price-details p span').html('&#8377; '+data["total"]);
                                $("#startDateAddCart").val(start.format('YYYY-MM-DD'))
                                $("#endDateAddCart").val(end.format('YYYY-MM-DD'))
                                $("#bannerIDAddCart").val(BoardIdForPrice)
                               },
                               error: function(){
                                alert("Error! Something wrong. Please try again later")
                                },
                      });

                    }
                    else
                    {

                    }
                    //invalidDates = [];
    }


});
</script>
<!-- banner modal script end -->


<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>


<script>

    function setOwnerDetails(ownerDetails){
        let panelBody = document.querySelector('#myModal .modal-body .owner-panel .panel-body');
        panelBody.children[0].innerHTML = `<strong>Owner Name:</strong> <span>${ownerDetails.o_name}</span>`;
        panelBody.children[1].innerHTML = `<strong>Contact:</strong> <span>${ownerDetails.o_contact}</span>`;
        panelBody.children[2].innerHTML = `<strong>Email:</strong> <span>${ownerDetails.o_email}</span>`;
        panelBody.children[3].innerHTML = `<strong>Office Add.:</strong> <span>${ownerDetails.o_add}</span>`;
    }



      var markers_for_bounds
      
       // var locations =[ {lat: 28.6781518, lng: 77.4796894},
       //  {lat: 28.6769073, lng: 77.4728407},
       //  {lat: 28.6763699, lng: 77.4701333},
       //  {lat: 28.6750844, lng: 77.4616545},
       //  {lat: 28.6739048, lng: 77.4537548},
       //  {lat: 28.6734001, lng: 77.4504691},
       //  {lat: 28.6732442, lng: 77.4493948},
       //  {lat: 28.6729218, lng: 77.4474875},
       //  {lat: 28.6724855, lng: 77.4446118},
       //  {lat: 28.6723961, lng: 77.4439885},
       //  {lat: 28.6721728, lng: 77.4427322},
       //  {lat: 28.6720037, lng: 77.4416342},
       //  {lat: 28.6711971, lng: 77.4363777},
       //  {lat: 28.6709432, lng: 77.4354001},
       //  {lat: 28.6707214, lng: 77.4334270},
       //  {lat: 28.6695674, lng: 77.4265163},
       //  {lat: 28.6696689, lng: 77.4265052},
       //  {lat: 28.6733651, lng: 77.4430692},
       //  {lat: 28.6737519, lng: 77.4429944},
       //  {lat: 28.6740493, lng: 77.4429626},
       //  {lat: 28.6754751, lng: 77.4425713},
       //  {lat: 28.6676614, lng: 77.4290214},
       //  {lat: 28.6675485, lng: 77.4273665},
       //  {lat: 28.669957, lng: 77.431754},
       //  {lat: 28.668975, lng: 77.432054},
       //  {lat: 28.66819, lng: 77.432332},
       //  {lat: 28.666023, lng: 77.433521},
       //  {lat: 28.665319, lng: 77.433852},
       //  {lat: 28.664172, lng: 77.434386},
       //  {lat: 28.663109, lng: 77.434857},
       //  {lat: 28.662789, lng: 77.435217},
       //  {lat: 28.661489, lng: 77.435542},
       //  {lat: 28.659875, lng: 77.435756},
       //  {lat: 28.657659, lng: 77.434879},
       //  {lat: 28.6650903, lng: 77.455809},
       //  {lat: 28.6625591, lng: 77.4621732},
       //  {lat: 28.6624664, lng: 77.4621041},
       //  {lat: 28.662228, lng: 77.462863},
       //  {lat: 28.660013, lng: 77.465962},
       //  {lat: 28.6589961, lng: 77.4672889},
       //  {lat: 28.658889, lng: 77.4671946},
       //  {lat: 28.647186, lng: 77.44578},
       //  {lat: 28.647782, lng: 77.444806},
       //  {lat: 28.647887, lng: 77.444905},
       //  {lat: 28.649038, lng: 77.443181},
       //  {lat: 28.651482, lng: 77.43973},
       //  {lat: 28.653684, lng: 77.436644},
       //  {lat: 28.654753, lng: 77.435084},
       //  {lat: 28.655983, lng: 77.433325},
       //  {lat: 28.6568593, lng: 77.4321415},
       //  {lat: 28.6577404, lng: 77.430892},
       //  {lat: 28.6597278, lng: 77.4280974},
       //  {lat: 28.6706658, lng: 77.4149831},
       //  {lat: 28.6727632, lng: 77.4069683},
       //  {lat: 28.67312, lng: 77.4062585},
       //  {lat: 28.676807, lng: 77.3918759},
       //  {lat: 28.6784319, lng: 77.3865805},
       //  {lat: 28.6779715, lng: 77.3884973},
       //  {lat: 28.67755, lng: 77.3899839},
       //  {lat: 28.6743781, lng: 77.401846},
       //  {lat: 28.6738745, lng: 77.4037004},
       //  {lat: 28.67284, lng: 77.4074226},
       //  {lat: 28.672345, lng: 77.409681},
       //  {lat: 28.6721493, lng: 77.410478},
       //  {lat: 28.6718569, lng: 77.4114681},
       //  {lat: 28.675918, lng: 77.418503},
       //  {lat: 28.6770641, lng: 77.420316},
       //  {lat: 28.678621, lng: 77.422418},
       //  {lat: 28.6797252, lng: 77.4239189},
       //  {lat: 28.6808859, lng: 77.4252781},
       //  {lat: 28.683349, lng: 77.428079}
       //  ];
        
        var locations = [];
        var locID = [];
    //the above var location is javascript var and the below one comes from djago code.bad names. confusing. gotta change
    {% for location in locations %}
    locations.push({
      lat: {{ location.lat }},
      lng: {{ location.lng }},
      //id: {{ location.id }}
    });
    locID.push({{ location.id }});

    {% endfor %}
    function resetPriceInfo()
    {
      $('.msg p em').html('*(Above mentioned price is approximate and subject to bargaining)');
      $('.msg p').css('color','#a0a0a0');
      $('.msg p').css('font-size','12px');
      $('#range-output').html('Select range')
      $('#range-output .em').removeClass("alert-success");
      $('#range-output').addClass("alert-danger");
      $('.price-details p span').html('&#8377; '+0.00);
      
    }
    function resetInfo(){
      $('#panelID').text("loading...");
      $('#myModalLabel').text("loading...");
      $('#zone').text("loading...");
      $('#BannerFacing').text("loading...");
      $('#bannerImage').attr("src", "{% static 'resources/gif/page_loading.gif' %}");
      $('#price').text("loading...");
      $('#MapLoc').text("loading...");
      $('#dimensions').text("loading...");
      $('#type').text("loading...");
      $('#lighted').text("loading...");
      resetPriceInfo();
      $('#range-output').html('Select start date and range')
    }


    function initMap() {
      
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 28.683349, lng: 77.428079 },
        scrollwheel: true,
        fullscreenControl: false,
        gestureHandling: "greedy",
        streetViewControl: false,
        zoom: 7
      });

      markerGroup = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,

          title: "OMOADS Site",
          icon: "{% static 'resources/images/marker3.png' %}"

        });
      });
      var oms = new OverlappingMarkerSpiderfier(map, { 
        markersWontMove: true, 
        markersWontHide: true,
        keepSpiderfied: true,
        basicFormatEvents: true
      });
      markers_for_bounds = markerGroup;
      for (var i = 0; i < locations.length; i++) {
       markerGroup[i].id_try = locID[i];
       // console.log(String(markerGroup[i].position))
       markerGroup[i].addListener('spider_click', function() {
          // infowindow.setContent(this.content);
          // infowindow.open(map, this);
          $('#MyModalAddCart').attr("disabled", true);
          resetInfo();
          $.ajax({
            type: "POST",
            url: "{% url 'onclickMapPoints' %}",
            
             beforeSend: function(){
              // Handle the beforeSend event
              resetInfo();
              // console.log("working")
              NProgress.start();
             },
             complete: function(){
               // Handle the complete event
               $('#bannerImage').on('load', function(){
                console.log("stop")
                NProgress.done();
               })
               setTimeout(function(){NProgress.done();}, 6000)
               
             },
            global: true,
            data: {
             "csrfmiddlewaretoken": "{{ csrf_token }}",
             "id_point":String(this.id_try)

           },
            success: function(data){
             
              $('#panelID').text(data["id"]);
              $('#bannerImage').attr("src", "{{MEDIA_URL}}" + data["url"]);

              $('#myModalLabel').text(data["landmark"]);
              $('#zone').text(data["zone"]);
              $('#BannerFacing').text(data["facing"]);
              $('#price').text(data["cost"]);
              $('#MapLoc').text(data["lat"] + " / " + data["long"]);
              $('#dimensions').text(data["dim"]);
              $('#type').text(data["type"]);
              $('#lighted').text(data["lighted"]);
              setOwnerDetails({'o_name':data["agency_name"], 'o_contact':data["agency_phone"],
                          'o_email':data["agency_email"], 'o_add':data["agency_address"]});
              
              var bookDates = data["bookDates"];
              BoardIdForPrice = (data["id"]);
              console.log(bookDates);
              invalidDates=[];
              for(var i = 0; i < bookDates.length; i++)
              {   //cd stands for current
                  var cd = moment(bookDates[i].startDate);
                  var ed = moment(bookDates[i].endDate);
                  while(cd.format('YYYY-MM-DD') <= ed.format('YYYY-MM-DD'))
                  {
                      invalidDates.push(cd.format('YYYY-MM-DD'))
                      cd.add(1, 'days')
                  }
              }
              // $('#landmark').text(data["landmark"])
              $('#myModal').attr("boardID",this.id_try)
              var ValidStartBooking =  moment().add(2, 'days');
              $('#datePicker').daterangepicker({
                  singleDatePicker: true,
                  showDropdowns: true,
                  minDate: ValidStartBooking,
                  ranges: {
                             'Next 15 Days': [ ValidStartBooking , moment().add(17, 'days')],
                             'Next 30 Days': [ ValidStartBooking , moment().add(32, 'days')],
                             'Next 45 Days': [ ValidStartBooking , moment().add(47, 'days')],
                             'Next 60 Days': [ ValidStartBooking , moment().add(62, 'days')],
                             'Next 75 Days': [ ValidStartBooking , moment().add(77, 'days')],
                             'Next 90 Days': [ ValidStartBooking , moment().add(92, 'days')],
                             'Next 105 Days': [ValidStartBooking, moment().add(107, 'days')],
                             'Next 120 Days': [ValidStartBooking, moment().add(122, 'days')]
                             // 'This Month': [moment().startOf('month'), moment().endOf('month')],
                             // 'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                          },
                    locale: {
                    format: 'DD/MM/YYYY'
                    },
                  seperator: 'To',
                  opens: "right",
                  drops: "up",
                  isInvalidDate: function(date)
                  {
                      

                      if (invalidDates.indexOf(date.format('YYYY-MM-DD'))!==-1)
                      {
                          return true; 
                      }
                      else
                      {
                          return false; 
                      }
                  }
                  },
                  function(start, end){
                    $('#MyModalAddCart').attr("disabled", true);
                    $(".date-range-button button").removeClass("disabled");
                    resetPriceInfo();
                    console.log("call back");
                    var diff = end.diff(start, 'days');
                    console.log(diff)
                    
                  },
                );

                // let json = [{"startDate": "2018/06/23","endDate": "2018/06/30","ppd": 35,"status": "booked"},{"startDate": "2018/08/06","endDate": "2018/08/30","ppd": 40,"status": "booked"},{"startDate": "2018/08/31","endDate": "2018/09/15","ppd": 45,"status": "booked"},{"startDate": "2018/11/16","endDate": "2018/11/28","ppd": 22,"status": "booked"},{"startDate": "2018/11/29","endDate": "2019/01/15","ppd": 20,"status": "booked"},{"startDate": "2019/01/31","endDate": "2019/02/28","ppd": 34,"status": "booked"},{"startDate": "2019/03/01","endDate": "2019/03/10","ppd": 54,"status": "booked"},{"startDate": "2019/04/12","endDate": "2019/04/15","ppd": 37,"status": "booked"},{"startDate": "2019/04/16","endDate": "2019/06/23","ppd": 29,"status": "booked"},{"startDate": "2019/08/01","endDate": "2019/08/23","ppd": 29,"status": "booked"}]
                let myNode = document.querySelector('.data-strip')
                while (myNode.firstChild) {
                  myNode.removeChild(myNode.firstChild);
                }
                let json = []
                let d = new Date()
                let todayDate = `${d.getFullYear()}/${parseInt(d.getMonth())+1 < 10 ? '0' + (parseInt(d.getMonth())+1) : parseInt(d.getMonth())+1 }/${d.getDate() < 10 ? '0' + d.getDate() : d.getDate()}`
                let yrLaterDate = `${d.getFullYear() + 1}/${parseInt(d.getMonth())+1 < 10 ? '0' + (parseInt(d.getMonth())+1) : parseInt(d.getMonth())+1 }/${d.getDate() < 10 ? '0' + d.getDate() : d.getDate()}`
                let yrLater = Date.parse(yrLaterDate)
                let today = Date.parse(todayDate)
                if(!json.length){
                  json.push({"startDate": todayDate,"endDate": todayDate,"status": "not-booked"})
                }
                let bgn
                let end = json.length
                for(let ind = 0; ind < json.length; ind++){
                  if((Date.parse(json[ind]['startDate']) < today && Date.parse(json[ind]['endDate']) > today) || (Date.parse(json[ind]['startDate']) >= today && Date.parse(json[ind]['endDate']) > today)){
                    bgn = ind
                    break
                  }
                }
                for(let ind = 0; ind < json.length; ind++){
                  if(Date.parse(json[ind]['startDate']) >= yrLater){
                  // if((Date.parse(json[ind]['startDate']) < yrLater && Date.parse(json[ind]['endDate']) >= yrLater) || (Date.parse(json[ind]['startDate']) >= yrLater)){
                    end = ind
                    break
                  }
                }
                console.log(bgn + '    ' + end)
                let jsonNew = json.slice(bgn, end)
                console.log(jsonNew)
                if(Date.parse(jsonNew[0]['startDate']) > today){
                  console.log('Hereee')
                  makeAvailChild(todayDate, jsonNew[0]['startDate'], 'not-booked')
                }
                jsonNew.map((el, ind) => {

                  if(ind > 1){
                    // let prevObj = data['bookDates'][ind - 1]
                    let prevObj = jsonNew[ind - 1]
                    // let startDate = prevObj['endDate']
                    // let endDate = el['startDate']
                    // let duration = Math.abs((startDate - endDate)) / (1000 * 60 * 60 * 24)
                    // let percent = (duration / 365) * 100
                    // let child = document.createElement('a')
                    // let title = `${new Date().toDateString().substring(4)} - ${new Date(el['end']).toDateString().substring(4)}`
                    // // child.title = title
                    // child.href = '#'
                    // child.classList.add('child')
                    // child.classList.add('not-booked')
                    // child.style.width = `calc(${percent}% - 3px)`
                    // console.log(duration)
                    // parent.appendChild(child)
                    if(Date.parse(prevObj['endDate']) != Date.parse(el['startDate'])){
                      makeAvailChild(prevObj['endDate'], el['startDate'], 'not-booked')
                    }
                  }
                  if(Date.parse(el['endDate']) > yrLater){
                    console.log('here one')
                    makeAvailChild(el['startDate'], yrLaterDate, 'booked')
                  }
                  else{
                    console.log('Tooooo')
                    makeAvailChild(el['startDate'], el['endDate'], 'booked')
                  }
                  
                  // console.log(el)
                  // console.log('ind' + ind)
                  // let startDate = Date.parse(el['startDate'])
                  // if(today >= startDate){
                  //   startDate = today
                  //   el['startDate'] = todayDate
                  // }
                  // else{

                  // }
                  // let endDate = Date.parse(el['endDate'])
                  // console.log(startDate - today)
                  // let duration = Math.abs((startDate - endDate)) / (1000 * 60 * 60 * 24)
                  // // let price = duration * el['ppd']
                  // let percent = (duration / 365) * 100
                  // let child = document.createElement('a')
                  // // let title = `Price: ₹${price}\n${new Date(el['start']).toDateString().substring(4)} - ${new Date(el['end']).toDateString().substring(4)}`
                  // // child.title = title
                  // child.href = '#'
                  // child.classList.add('child')
                  // child.classList.add('booked')
                  // child.style.width = `calc(${percent}% - 3px)`
                  // console.log(duration)
                  // parent.appendChild(child)
                })
                // console.log(`Last in array ${jsonNew[jsonNew.length - 1]['endDate']}\tyrLater ${yrLater}`)
                if(Date.parse(jsonNew[jsonNew.length - 1]['endDate']) < yrLater){
                  console.log('Pool pool')
                  makeAvailChild(jsonNew[jsonNew.length - 1]['endDate'], yrLaterDate, 'not-booked')
                }




              },
              error: function(){
               alert("Error! Something wrong. Please try again later")
             },
           });



          $('#myModal').modal('show')
        });
       oms.addMarker(markerGroup[i]); 
     }
     let fl = true
    $('#myModal .modal-dialog').on('transitionend', function(){
      if(fl){
        const hgt = $('#myModal .modal-content').height()
        console.log('Height is ' + hgt)
        $('#myModal .modal-content').css({'height': `${hgt}px`})
        fl = false
      }
    })
    $('#avail-but').on('click', function(e){
      $('#availModal').modal('show');
    });
    $('.availModal-close').on('click', function(e){
      e.preventDefault();
      $('#availModal').modal('hide');
    });

     /*
      OwnerDetails is a JS object of the form:       
          {
            "o_name": String,
            "o_contact": String,
            "o_email": String,
            "o_add": String
          }
      */
    function makeAvailChild(st, en, av){
      let parent = document.querySelector('.data-strip')
      let startDate = Date.parse(st)
      let endDate = Date.parse(en)
      let duration = Math.abs((startDate - endDate)) / (1000 * 60 * 60 * 24)
      if(duration > 1){
        let percent = (duration / 365) * 100
        let child = document.createElement('a')
        let title = `"${av}"\n${new Date(st).toDateString().substring(4)} - ${new Date(en).toDateString().substring(4)}`
        child.title = title
        child.href = '#'
        child.classList.add('child')
        child.classList.add(av)
        child.style.width = `calc(${percent}% - 3px)`
        parent.appendChild(child)
      }
      
    }

     minClusterZoom = 17;


      markerCluster = new MarkerClusterer(map, markerGroup,
      {imagePath: "{% static 'js/m' %}", ignoreHidden: true});

     markerCluster.setMaxZoom(minClusterZoom);


     google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
            map.fitBounds(cluster.getBounds()); // Fit the bounds of the cluster clicked on
            if( map.getZoom() > minClusterZoom+1 ) // If zoomed in past 15 (first level without clustering), zoom out to 17
              map.setZoom(minClusterZoom+1);
          });


              // Create the search box and link it to the UI element.
              var input = document.getElementById('pac-input');
              var searchBox = new google.maps.places.SearchBox(input);
              //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
              // Bias the SearchBox results towards current map's viewport.
              map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
              });
              var markers = [];
              // Listen for the event fired when the user selects a prediction and retrieve
              // more details for that place.
              searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                  return;
                }
                // Clear out the old markers.
                markers.forEach(function(marker) {
                  marker.setMap(null);
                });
                markers = [];
                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                  if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                  }
                  var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                  };
                  // Create a marker for each place.
                  markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                  }));
                  if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                  } else {
                    bounds.extend(place.geometry.location);
                  }
                });
                map.fitBounds(bounds);
              });
            }


            
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBwx5OAOJROz6qwNrGnP-eRRAQSmyxklA8&callback=initMap" async defer</script>

<script type="text/javascript">
  // $('document').ready(initMap());  
</script>

<script type="text/javascript">

  function checkEmail(ele)
{ 
  var sub = document.getElementById("sub");
  var msg = document.getElementById("msg");
  var pass  =document.getElementById("id_password1")
  var username = document.getElementById("id_username")
  if(validateEmail(ele.value) == true)
  {
    msg.innerHTML = "VALID EMAIL";
    msg.style.color = "green";
    if(validateUserName(username.value)&&validatePassword(pass.value))
      sub.disabled = false;
    else
      sub.disabled = true;
  }
  else
  {
    msg.innerHTML = "INVALID EMAIL ID";
    msg.style.color = "red";
    sub.disabled = true;
    

  }
}
function checkUserName(ele)
{ 
  var sub = document.getElementById("sub");
  var msg = document.getElementById("msg2");
  var email = document.getElementById("id_email")
  var pass  =document.getElementById("id_password1")
  if(validateUserName(ele.value) == true)
  {
    msg.innerHTML = "VALID USERNAME";
    msg.style.color = "green";
    if(validateEmail(email.value)&&validatePassword(pass.value))
      sub.disabled = false;
    else
      sub.disabled = true;
  }
  else
  {
    msg.innerHTML = "INVALID USERNAME";
    msg.style.color = "red";
    sub.disabled = true;
  }
}

function password(ele)
{ 
  var sub = document.getElementById("sub");
  var msg = document.getElementById("passmsg");
 var username = document.getElementById("id_username")
 var email = document.getElementById("id_email")
  console.log(ele.value)
  if(validatePassword(ele.value) == true)
  {
    msg.innerHTML = "password accepted";
    msg.style.color = "green";
    if(validateEmail(email.value)&&validateUserName(username.value))
      sub.disabled = false;
    else
      sub.disabled = true;
  }
  else
  {
    msg.innerHTML = "atleast one number one capital and atleast 6 length";
    msg.style.color = "red";
    sub.disabled = true;
  }
}



function checkUserNameLogin(ele)
{ 
  var sub = document.getElementById("subLogin");
  var msg = document.getElementById("msg3");


  if(validateUserName(ele.value) == true || validateEmail(ele.value) == true)
  {
    msg.innerHTML = "VALID USERNAME";
    msg.style.color = "green";
    sub.disabled = false;

  }
  else
  {
    msg.innerHTML = "INVALID USERNAME";
    msg.style.color = "red";
    sub.disabled = true;
  }
}



function validateEmail(elementValue){        
   var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;  
   return emailPattern.test(elementValue);   
 }   
function validateUserName(elementValue){
   
     var UserNamePattern = /^[a-zA-Z0-9._-]{3,15}$/;  
     return UserNamePattern.test(elementValue); 
     
 }
 function validatePassword(elementValue){
   
     var passPattern = /^(?=.*[0-9])(?=.*[A-Z])[a-zA-Z0-9]{6,25}$/;  
     return passPattern.test(elementValue); 
     
 }
 var sub = document.getElementById("sub");
  var msg = document.getElementById("msg");
  sub.disabled = true;
  sub = document.getElementById("subLogin");
 sub.disabled = true;
  

</script>
<script type="text/javascript">
  $(window).on('load', function(){
  console.log("loaded")
  })
Pace.on("done", function(){
  $("#sectionTry").fadeIn(1000, function()
      {
          google.maps.event.trigger(map, 'resize');
          var bounds = new google.maps.LatLngBounds();
          for(var i = 0; i < markers_for_bounds.length; i++)
          {
            bounds.extend(markers_for_bounds[i].getPosition());
          }
          map.fitBounds(bounds);
      }); 
})
</script>
<script type="text/javascript">
    $(".nav-elements li:nth-child(1)").addClass("active");
  </script>
</html>