{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  

  <title>OmoAds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/nprogress.css' %}" rel="stylesheet" />
  <link href="{% static 'css/pace-theme-center-atom.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'resources/images/favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'resources/images/favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'resources/images/favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'resources/images/favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'resources/images/favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'resources/images/favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'resources/images/favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'resources/images/favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'resources/images/favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'resources/images/favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'resources/images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'resources/images/favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'resources/images/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'resources/images/favicon/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'resources/images/favicon/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>

  <script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105587377-1', 'auto');
    ga('send', 'pageview');

  </script>

  <!-- <script src="{% static 'js/landingPage.js' %}"></script> -->
  


  <link rel="stylesheet" href="{% static 'css/landingPage.css' %}">
  <script src="{% static 'js/nprogress.js' %}"></script>
  <script data-pace-options='{ "ajax": false }' src="{% static 'js/pace.js' %}"></script>
  
</head>

<style type="text/css">
  .bannerImage {
    background: black;
  }
  @keyframes fadeout {
    0%{opacity:0;top:50%}
    20%{opacity:1;}
    80%{opacity:1;top:50%;}
    100%{opacity:0;
      top:-50%;
    }

  }
  #message {
    position: absolute;
    z-index: 9999;
    top: -50%;
    left: 25%;
    right: 25%;
    background: #fde073;
    text-align: center;
    animation-name: fadeout;
    animation-duration: 2s;
    overflow: hidden;
    opacity:0;
    box-shadow: 0 0 5px black;

  }
</style>

<body>
<script type="text/javascript">
  pace.start()

  </script>



{% if messages %}
    <div id="message">
{% for message in messages %}
   
<script type="text/javascript">
  if("{{message.extra_tags}}" == "wrong_credentials"){
    
    $(document).ready(function(){
      $('#loginModal').modal();
    });
  }
</script>

   <h3> {{ message }}</h3>
{% endfor %}
    </div>
{% endif %}

<section id = "sectionTry">
<script>
 
  $('#sectionTry').hide();
 
</script>
{% include 'navbar1.html' %}
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #090909; padding: 30px;">
          <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
          <h3 class="modal-title" style="color: #fff;">LOGIN TO <span style="color: #ff6c00; font-weight: 500;">OMOADS</span></h3>
        </div>
        <div class="modal-body" style="background-color: #f7f7f7; padding-bottom: 0%;">
          <form method = "POST">
          {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label>
              {{ login_form.username }}
              <p id = "msg3"></p>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              {{ login_form.password }}
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" id = "subLogin" style="border-radius: 4px;">Login</button>
              <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#registerModal" style="border-radius: 4px;">Sign Up</button> -->

            </div>

          </form>
        </div>

      </div>

    </div>
  </div>

  <!--Register Modal -->
  <div class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #090909; padding: 30px;">
          <button type="button" class="close" data-dismiss="modal" style="color: #fff;">&times;</button>
          <h3 class="modal-title" style="color: #fff;">REGISTER TO <span style="color: #ff6c00; font-weight: 500;">OMOADS</span></h3>
        </div>
        <div class="modal-body" style="background-color: #f7f7f7; padding-bottom: 0%;">
          <form action = "{% url 'auth_register2' %}" method = "post">
          {% csrf_token %}
            <div class="form-group">
              <label for="name">Username:</label>
              {{signup_form.username}}
              <p id = "msg2"></p>
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              {{signup_form.email}}
              <p id = "msg"></p>
              
            </div>
            <div class="form-group">
              <label for="pwd">Enter Password:</label>
              {{signup_form.password1}}
              <p id = "passmsg"></p>
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="modal-footer">
              <button type="submit" id ="sub" class="btn btn-success" style="border-radius: 4px;">Sign Up</button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
<div class="cont">
    <div class="container-fluid box">
      <div class="secondBox col-sm-10" >
          <input id="pac-input" class="controls" type="text" placeholder="Search Location">
          <div id="map" style="width: 100%; height: 100%; background-color: #ff6c00; flex: 1 1 auto; overflow: auto; "></div>
      </div>
      <div class="col-sm-2 filter">
      <form id="filterForm" action="." method="GET">
      
          <div class="sort">
           <h4 style="padding: 8px; margin: 0px;"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size: 14px;"></span>  Sort By</h4>
           </div>
           <div class="card">
            <div class="filter-header">
              <h5>DIMENSIONS</h5>
            </div>
            <div class="check">
              {% for dimensions_of_banner in form.dimensions_banner %}
              <div class="checkbox">
                  <label>
                    {{  dimensions_of_banner }}
                  </label>
              </div>
              {% endfor %}
            </div>
            </div>

            <div class="card">
              <div class="filter-header">
                <h5>TYPE</h5>
              </div>
              <div class="check">
                {% for type_of_banners in  form.type_banner %}
                <div class="checkbox">
                  <label>
                    {{ type_of_banners }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="card">
              <div class="filter-header">
                <h5>LIGHTED</h5>
              </div>
              <div class="check">
                {% for lights_of_banners in  form.lighted_banner %}
                <div class="checkbox">
                  <label>
                    {{ lights_of_banners }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
        </form>
      </div>
    </div>
</div>
<div class="footer"></div>
</section>

  <!-- Banner model -->
  <!-- Modal starts its magic -->

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">Hapur Road, Near Hapur Chungi</h3>
          <h6 id="priceMyModal">SELECT DATE RANGE TO FIND PRICE OF BANNER</h6>
        </div>
        <div class="modal-body">




          <!-- the content -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#facing1" data-toggle="tab">Facing: Bus Station</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="facing1">
              <div class="row">
                <div class="col-sm-6">
                  <div class="bannerInfo">
                    <div class="panel panel-default">
                      <div class="panel-heading">Banner Details</div>
                      <div class="panel-body">
                        <p>Pole ID: <span id="panelID">loading...</span></p>
                        <p>Dimentions: <span id="dimensions">loading...</span></p>
                        <p>Type: <span id="type">loading...</span></p>
                        <p>Lighted: <span id="lighted">loading</span></p>
                        <!-- <p>Map Coordiantes: <span id="MapLoc">loading</span></p> -->
                      </div>
                    </div>
                  </div>
                  
                  <p id = "msgMyModal"></p>
                  <!-- <p id = "priceMyModal"></p> -->
                </div>
                <div class="col-sm-6">
                  <div class="modal-img">
                    <img src="{% static 'resources/images/omoloader.gif' %}" id="bannerImage" class="img-thumbnail" alt="banner image" width="300" height="250">
                    <form>
                      <div class="input-group">
                        <input id="date" type="text" class="form-control" name="daterange">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>  
            </div>
          </div>




        </div>
        <div class="modal-footer">
          
          <form method = "POST" action = "{% url 'addToCart' %}">
          {% csrf_token %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
            <input type="hidden" name = "startDateAddCart" id="startDateAddCart" value = "">
            <input type="hidden" name = "endDateAddCart" id="endDateAddCart" value = "">
            <input type="hidden" name = "bannerIDAddCart" id="bannerIDAddCart" value = "">
            <button type="submit" class="btn btn-primary" id="MyModalAddCart">Add To Cart</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</body>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<script src = "{% static 'js/markerclusterer.js' %}"></script>
<script>
      var markers_for_bounds
      var map;
      /* var locations =[ {lat: 28.6781518, lng: 77.4796894},
        {lat: 28.6769073, lng: 77.4728407},
        {lat: 28.6763699, lng: 77.4701333},
        {lat: 28.6750844, lng: 77.4616545},
        {lat: 28.6739048, lng: 77.4537548},
        {lat: 28.6734001, lng: 77.4504691},
        {lat: 28.6732442, lng: 77.4493948},
        {lat: 28.6729218, lng: 77.4474875},
        {lat: 28.6724855, lng: 77.4446118},
        {lat: 28.6723961, lng: 77.4439885},
        {lat: 28.6721728, lng: 77.4427322},
        {lat: 28.6720037, lng: 77.4416342},
        {lat: 28.6711971, lng: 77.4363777},
        {lat: 28.6709432, lng: 77.4354001},
        {lat: 28.6707214, lng: 77.4334270},
        {lat: 28.6695674, lng: 77.4265163},
        {lat: 28.6696689, lng: 77.4265052},
        {lat: 28.6733651, lng: 77.4430692},
        {lat: 28.6737519, lng: 77.4429944},
        {lat: 28.6740493, lng: 77.4429626},
        {lat: 28.6754751, lng: 77.4425713},
        {lat: 28.6676614, lng: 77.4290214},
        {lat: 28.6675485, lng: 77.4273665},
        {lat: 28.669957, lng: 77.431754},
        {lat: 28.668975, lng: 77.432054},
        {lat: 28.66819, lng: 77.432332},
        {lat: 28.666023, lng: 77.433521},
        {lat: 28.665319, lng: 77.433852},
        {lat: 28.664172, lng: 77.434386},
        {lat: 28.663109, lng: 77.434857},
        {lat: 28.662789, lng: 77.435217},
        {lat: 28.661489, lng: 77.435542},
        {lat: 28.659875, lng: 77.435756},
        {lat: 28.657659, lng: 77.434879},
        {lat: 28.6650903, lng: 77.455809},
        {lat: 28.6625591, lng: 77.4621732},
        {lat: 28.6624664, lng: 77.4621041},
        {lat: 28.662228, lng: 77.462863},
        {lat: 28.660013, lng: 77.465962},
        {lat: 28.6589961, lng: 77.4672889},
        {lat: 28.658889, lng: 77.4671946},
        {lat: 28.647186, lng: 77.44578},
        {lat: 28.647782, lng: 77.444806},
        {lat: 28.647887, lng: 77.444905},
        {lat: 28.649038, lng: 77.443181},
        {lat: 28.651482, lng: 77.43973},
        {lat: 28.653684, lng: 77.436644},
        {lat: 28.654753, lng: 77.435084},
        {lat: 28.655983, lng: 77.433325},
        {lat: 28.6568593, lng: 77.4321415},
        {lat: 28.6577404, lng: 77.430892},
        {lat: 28.6597278, lng: 77.4280974},
        {lat: 28.6706658, lng: 77.4149831},
        {lat: 28.6727632, lng: 77.4069683},
        {lat: 28.67312, lng: 77.4062585},
        {lat: 28.676807, lng: 77.3918759},
        {lat: 28.6784319, lng: 77.3865805},
        {lat: 28.6779715, lng: 77.3884973},
        {lat: 28.67755, lng: 77.3899839},
        {lat: 28.6743781, lng: 77.401846},
        {lat: 28.6738745, lng: 77.4037004},
        {lat: 28.67284, lng: 77.4074226},
        {lat: 28.672345, lng: 77.409681},
        {lat: 28.6721493, lng: 77.410478},
        {lat: 28.6718569, lng: 77.4114681},
        {lat: 28.675918, lng: 77.418503},
        {lat: 28.6770641, lng: 77.420316},
        {lat: 28.678621, lng: 77.422418},
        {lat: 28.6797252, lng: 77.4239189},
        {lat: 28.6808859, lng: 77.4252781},
        {lat: 28.683349, lng: 77.428079}
        ];
        */
        var locations = [];
        var locID = [];
    //the above var location is javascript var and the below one comes from djago code.bad names. confusing. gotta change
    {% for location in locations %}
    locations.push({
      lat: {{ location.lat }},
      lng: {{ location.lng }},
      //id: {{ location.id }}
    });
    locID.push({{ location.id }});

    {% endfor %}
    function resetInfo(){
      $('#panelID').text("loading...")
      $('#bannerImage').attr("src", "{% static 'resources/images/omoloader.gif' %}")
      $('#price').text("loading...")
      $('#MapLoc').text("loading...")
      $('#dimensions').text("loading...")
      $('#type').text("loading...")
      $('#lighted').text("loading...")
      $('#priceMyModal').text("SELECT DATE RANGE TO FIND PRICE OF BANNER").css('color', 'red')
      $('#msgMyModal').text("")
    }


    function initMap() {
      
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 28.683349, lng: 77.428079 },
        scrollwheel: true,
        fullscreenControl: false,
        gestureHandling: "greedy",
        streetViewControl: false,
        zoom: 7
      });

      var markerGroup = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,

          title: "OMOADS Site",
          icon: "{% static 'resources/images/marker3.png' %}"

        });
      });
      var oms = new OverlappingMarkerSpiderfier(map, { 
        markersWontMove: true, 
        markersWontHide: true,
        keepSpiderfied: true,
        basicFormatEvents: true
      });
      markers_for_bounds = markerGroup;
      for (var i = 0; i < locations.length; i++) {
       markerGroup[i].id_try = locID[i];
       // console.log(String(markerGroup[i].position))
       markerGroup[i].addListener('spider_click', function() {
                  // infowindow.setContent(this.content);
                  // infowindow.open(map, this);
                  // console.log("hey popups!");
                  // console.log(this.id_try);
                  $.ajax({
                    type: "POST",
                    url: "{% url 'onclickMapPoints' %}",
                    
                     beforeSend: function(){
                      // Handle the beforeSend event
                      resetInfo();
                      // console.log("working")
                      NProgress.start();
                     },
                     complete: function(){
                       // Handle the complete event
                       $('#bannerImage').on('load', function(){
                        console.log("stop")
                        NProgress.done();
                       })
                       
                     },
                    global: true,
                    data: {
                     "csrfmiddlewaretoken": "{{ csrf_token }}",
                     "id_point":String(this.id_try)

                   },
                   success: function(data){
                               
                                $('#panelID').text(data["id"]);
                                $('#bannerImage').attr("src", "{{MEDIA_URL}}" + data["url"]);
                                $('#price').text(data["cost"]);
                                $('#MapLoc').text(data["lat"] + " / " + data["long"]);
                                $('#dimensions').text(data["dim"]);
                                $('#type').text(data["type"]);
                                $('#lighted').text(data["lighted"]);
                                
                                var bookDates = data["bookDates"];
                                var BoardIdForPrice = (data["id"]);
                                console.log(bookDates);
                                invalidDates=[];
                                // $('#landmark').text(data["landmark"])
                                $('#myModal').attr("boardID",this.id_try)
                                 $('input[name="daterange"]').daterangepicker({
                                                    minDate: moment().add(2, 'days'),
                                                    format: 'DD/MM/YYYY',
                                                    seperator: 'To',
                                                    opens: "left",
                                                    isInvalidDate: function(date)
                                                    {
                                                        x=0
                                                        for(i = 0; i < bookDates.length; i++)
                                                          x=(x||((date.format('YYYY-MM-DD') >= bookDates[i].startDate)&&(date.format('YYYY-MM-DD') <= bookDates[i].endDate)))

                                                      

                                                        if (x!=0)
                                                        {
                                                            invalidDates.push(date.format('YYYY-MM-DD'))
                                                            

                                                            return true; 
                                                        }
                                                        else
                                                        {
                                                            return false; 
                                                        }
                                                    }
                                                    },
                                                  function(start, end){
                                                    console.log("call back");
                                                    var diff = end.diff(start, 'days')
                                                    console.log(diff)
                                                    
                                                    var flag = 0
                                                    for (var i = 0; i<invalidDates.length;i++)
                                                    {

                                                      if(invalidDates[i] >= start.format('YYYY-MM-DD') && invalidDates[i] <= end.format('YYYY-MM-DD'))
                                                      {
                                                        flag  = 1;

                                                        var dateMsg = document.getElementById("msgMyModal");
                                                        dateMsg.innerHTML = "DATE RANGE HAS INVALID DATES";
                                                        dateMsg.style.color = "red";
                                                         $('#MyModalAddCart').attr("disabled", true)
                                                        break;
                                                      }
                                                    }
                                                    if(flag == 0)
                                                    {
                                                      $('#MyModalAddCart').attr("disabled", false)
                                                      
                                                      var dateMsg = document.getElementById("msgMyModal");
                                                        dateMsg.innerHTML = "DATE RANGE IS AVAILABLE";
                                                        dateMsg.style.color = "green";

                                                      var priceMsg = document.getElementById("priceMyModal");
                                                      
                                                        priceMsg.style.color = "green";

                                                      $.ajax({
                                                              type: "POST",
                                                              url: "{% url 'AjaxBannerPrice' %}",
                                                              beforeSend: function(){
                                                                // Handle the beforeSend event
                                                                console.log("working")
                                                                NProgress.start();
                                                               },
                                                               complete: function(){
                                                                 // Handle the complete event
                                                                 NProgress.done();
                                                               },
                                                              data: {
                                                               "csrfmiddlewaretoken": "{{ csrf_token }}",
                                                               "id_point":BoardIdForPrice,
                                                               "startDate":start.format('YYYY-MM-DD'),
                                                               "endDate":end.format('YYYY-MM-DD'),

                                                              },
                                                               success: function(data){
                                                                priceMsg.innerHTML = data["total"]
                                                                $("#startDateAddCart").val(start.format('YYYY-MM-DD'))
                                                                $("#endDateAddCart").val(end.format('YYYY-MM-DD'))
                                                                $("#bannerIDAddCart").val(BoardIdForPrice)
                                                               },
                                                               error: function(){
                                                                alert("Error! Something wrong. Please try again later")
                                                                },
                                                      });
                               
                                                    }
                                                    else
                                                    {

                                                    }
                                                    invalidDates = [];

                                                  },

                                              );
              },
              error: function(){
               alert("Error! Something wrong. Please try again later")
             },
           });



                  $('#myModal').modal('show');
                  
                  

                });
       oms.addMarker(markerGroup[i]); 
     }

     minClusterZoom = 17;


     var markerCluster = new MarkerClusterer(map, markerGroup,
      {imagePath: "{% static 'js/m' %}"});

     markerCluster.setMaxZoom(minClusterZoom);


     google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {
            map.fitBounds(cluster.getBounds()); // Fit the bounds of the cluster clicked on
            if( map.getZoom() > minClusterZoom+1 ) // If zoomed in past 15 (first level without clustering), zoom out to 17
              map.setZoom(minClusterZoom+1);
          });


              // Create the search box and link it to the UI element.
              var input = document.getElementById('pac-input');
              var searchBox = new google.maps.places.SearchBox(input);
              //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
              // Bias the SearchBox results towards current map's viewport.
              map.addListener('bounds_changed', function() {
                searchBox.setBounds(map.getBounds());
              });
              var markers = [];
              // Listen for the event fired when the user selects a prediction and retrieve
              // more details for that place.
              searchBox.addListener('places_changed', function() {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                  return;
                }
                // Clear out the old markers.
                markers.forEach(function(marker) {
                  marker.setMap(null);
                });
                markers = [];
                // For each place, get the icon, name and location.
                var bounds = new google.maps.LatLngBounds();
                places.forEach(function(place) {
                  if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                  }
                  var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                  };
                  // Create a marker for each place.
                  markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                  }));
                  if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                  } else {
                    bounds.extend(place.geometry.location);
                  }
                });
                map.fitBounds(bounds);
              });
            }


            
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwx5OAOJROz6qwNrGnP-eRRAQSmyxklA8&callback=initMap" async defer"</script>

<script type="text/javascript">
  // $('document').ready(initMap());  
</script>

<script type="text/javascript">

  function checkEmail(ele)
{ 
  var sub = document.getElementById("sub");
  var msg = document.getElementById("msg");
  var pass  =document.getElementById("id_password1")
  var username = document.getElementById("id_username")
  if(validateEmail(ele.value) == true)
  {
    msg.innerHTML = "VALID EMAIL";
    msg.style.color = "green";
    if(validateUserName(username.value)&&validatePassword(pass.value))
      sub.disabled = false;
    else
      sub.disabled = true;
  }
  else
  {
    msg.innerHTML = "INVALID EMAIL ID";
    msg.style.color = "red";
    sub.disabled = true;
    

  }
}
function checkUserName(ele)
{ 
  var sub = document.getElementById("sub");
  var msg = document.getElementById("msg2");
  var email = document.getElementById("id_email")
  var pass  =document.getElementById("id_password1")
  if(validateUserName(ele.value) == true)
  {
    msg.innerHTML = "VALID USERNAME";
    msg.style.color = "green";
    if(validateEmail(email.value)&&validatePassword(pass.value))
      sub.disabled = false;
    else
      sub.disabled = true;
  }
  else
  {
    msg.innerHTML = "INVALID USERNAME";
    msg.style.color = "red";
    sub.disabled = true;
  }
}

function password(ele)
{ 
  var sub = document.getElementById("sub");
  var msg = document.getElementById("passmsg");
 var username = document.getElementById("id_username")
 var email = document.getElementById("id_email")
  console.log(ele.value)
  if(validatePassword(ele.value) == true)
  {
    msg.innerHTML = "password accepted";
    msg.style.color = "green";
    if(validateEmail(email.value)&&validateUserName(username.value))
      sub.disabled = false;
    else
      sub.disabled = true;
  }
  else
  {
    msg.innerHTML = "atleast one number one capital and atleast 6 length";
    msg.style.color = "red";
    sub.disabled = true;
  }
}



function checkUserNameLogin(ele)
{ 
  var sub = document.getElementById("subLogin");
  var msg = document.getElementById("msg3");


  if(validateUserName(ele.value) == true || validateEmail(ele.value) == true)
  {
    msg.innerHTML = "VALID USERNAME";
    msg.style.color = "green";
    sub.disabled = false;

  }
  else
  {
    msg.innerHTML = "INVALID USERNAME";
    msg.style.color = "red";
    sub.disabled = true;
  }
}



function validateEmail(elementValue){        
   var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;  
   return emailPattern.test(elementValue);   
 }   
function validateUserName(elementValue){
   
     var UserNamePattern = /^[a-zA-Z0-9._-]{3,15}$/;  
     return UserNamePattern.test(elementValue); 
     
 }
 function validatePassword(elementValue){
   
     var passPattern = /^(?=.*[0-9])(?=.*[A-Z])[a-zA-Z0-9]{6,25}$/;  
     return passPattern.test(elementValue); 
     
 }
 var sub = document.getElementById("sub");
  var msg = document.getElementById("msg");
  sub.disabled = true;
  sub = document.getElementById("subLogin");
 sub.disabled = true;
  

</script>
<script type="text/javascript">
  $(window).on('load', function(){
  console.log("loaded")
  })
Pace.on("done", function(){
  $("#sectionTry").fadeIn(1000, function()
      {
          google.maps.event.trigger(map, 'resize');
          var bounds = new google.maps.LatLngBounds();
          for(var i = 0; i < markers_for_bounds.length; i++)
          {
            bounds.extend(markers_for_bounds[i].getPosition());
          }
          map.fitBounds(bounds);
      }); 
})
</script>
</html>