

{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}

<div class="row ">
        <div class="col-md-12">
            <div class="jumbotron" id="panel-1">
                <div class="row justify-content-center align-item-center">
                    <div class="col-md-8">
                        <h1 style="font-weight:lighter;margin-top:5em;font-size:40px;text-align:center;">Our missoin is to simpliy the process of outdoor<br>
                        advertisment and marketing </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row ">
        <div class="col-md-12">
            <div class="jumbotron" id="panel-1" >
                <div class="row justify-content-center align-item-center">
                    <div class="col-md-8">
                        <img src="{% static 'img/images/IMG_4502.png' %}" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row ">
        <div class="col-md-12">
            <div class="jumbotron" id="panel-1" >
                <div class="row justify-content-center align-item-center">
                    <div class="col-md-4">
                        <p style="margin-top:40%;margin-left:20%;">y5
                            We encourage the eradication of multilayered increment of cost
                            and hence attached distress with outdoor marketing for business campaigns
                            on billboards by connecting the campaigner directly to the advertisemt space.
                        </p>
                    </div>
                    <div class="col-md-8">
                            <div class="row justify-content-end align-item-center">
                                <div class="col-md-12">
                                    <img src="{% static 'img/images/IMG_4507.png' %}" class="img-fluid" />
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row ">
        <div class="col-md-12 text-center">
            <div class="jumbotron" id="panel-1">
                        <p style="">
                            We encourage the eradication of multilayered increment of cost
                            and hence attached distress with outdoor marketing for business campaigns
                            on billboards by connecting the campaigner directly to the advertisemt space.
                        </p>
                <div class="row justify-content-center align-item-center txt-center">
                    <div class="col-md-4">
                        <h2>Simple:</h2>
                        <img src="{% static 'img/images/IMG_4504.png' %}" width="200px" height="200px"/>
                        <p>
                            We encourage the eradication of multilayered increment of cost
                            and hence attached distress with outdoor marketing for business campaigns
                            on billboards by connecting the campaigner directly to the advertisemt space.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Free:</h2>
                        <img src="{% static 'img/images/IMG_4505.png' %}" width="200px" height="200px"/>
                        <p>
                            We encourage the eradication of multilayered increment of cost
                            and hence attached distress with outdoor marketing for business campaigns
                            on billboards by connecting the campaigner directly to the advertisemt space.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Accurate:</h2>
                        <img src="{% static 'img/images/IMG_4501.png' %}" width="200px" height="200px"/>
                        <p>
                            We encourage the eradication of multilayered increment of cost
                            and hence attached distress with outdoor marketing for business campaigns
                            on billboards by connecting the campaigner directly to the advertisemt space.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row ">
            <div class="col-md-12">
                <div class="jumbotron" id="panel-1">
                    <div class="row justify-content-center align-item-center">
                       <h1>FAQ</h1> 
                    </div>
                    <div class="row justify-content-center align-item-center">
                        
                        <div class="col-md-8">
                            <ol>
                                <li>new</li>
                                <li>new</li>
                                <li>new</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row ">
                <div class="col-md-12" >
                    <div class="jumbotron" id="panel-1" style="background:url('{% static 'img/images/IMG_4506.png' %}') center no-repeat;background-size:100%;background-position-x:00px !important;">
                        <div class="row justify-content-center align-item-center">
                           <h1>CONTACT US</h1> 
                        </div>
                        <div class="row justify-content-center align-item-center">
                            
                            <div class="col-md-8">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    
{% include 'footer.html' %}

{% endblock %}