

{% extends 'base.html'%}

{% load staticfiles %}

{% block custom_css %}
 <style>
    .form-control::-webkit-input-placeholder { color: #aaa; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { color: #aaa; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { color: #aaa; }  /* Microsoft Edge */
    </style>
{% endblock %}

{% block content %}

<div class="row ">
        <div class="col-md-12">
            <div class="jumbotron panel-abt" >
                <div class="row justify-content-center align-item-center">
                    <div class="col-md-8">
                        <h1 style="font-weight:lighter;margin-top:5em;font-size:40px;text-align:center;">Our mission is to simplify the process of outdoor<br>
                        advertisment and marketing </h1>
                    </div>
                </div>
            </div>
        </div>
    
</div>


 <div class="row ">
        <div class="col-md-12">
            <div class="jumbotron panel-abt abt-block-2">
                <div class="row justify-content-center align-item-center">
                    <div class="col-md-8">
                    <img src="{% static 'img/images/IMG_4502.PNG' %}"  class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row ">
        <div class="col-md-12">
            <div class="jumbotron panel-abt"  >
                <div class="row justify-content-center align-item-center">
                    <div class="col-md-4">
                        <p class="abt-block-3-text" >
                            We encourage the eradication of multilayered increment of cost
                            and hence attached distress with outdoor marketing for business campaigns
                            on billboards by connecting the campaigner directly to the advertisemt space.
                        </p>
                    </div>
                    <div class="col-md-8">
                            <div class="row justify-content-end align-item-center">
                                <div class="col-md-12">
                                <img src="{% static 'img/images/IMG_4507.PNG' %}" class="img-fluid abt-b2-img" />
                            </div>
                        </div>
                </div>  
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-md-12 text-center">
        <div class="jumbotron " >
                    <p style="">
                        We believe in the precision and reliability of a trident,with the prongs preventing deeply in three essential sector.
                    </p>
            <div class="row justify-content-center align-item-center txt-center">
                <div class="col-md-4">
                    <h2>Simple:</h2>
                    <img src="{% static 'img/images/IMG_4504.PNG' %}" width="200px" height="200px"/>
                    <p>
                        We provide real-time geographic locations of the billboards on the map with authentic and
                        intricate details about the hoarding and the owner hence unify the place for distant hoardings.
                        to find you a suitable place to advertise you a suitable place to advertise your business.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Free:</h2>
                    <img src="{% static 'img/images/IMG_4505.PNG' %}" width="200px" height="200px"/>
                    <p>
                        The information provided by us is free. The negotiation between The business and the owner
                        of the spaces is solely a two party deal. We don't charge a single rupee.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Accurate:</h2>
                    <img src="{% static 'img/images/IMG_4501.PNG'%}" width="200px" height="200px"/>
                    <p>
                        We provide with an essential information to make things extremely precise and accurate by
                        providing datewise availability of any space on the map upcated on a regular basis.
                     </p>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
	<div class="col-md-12" style="padding:40px;box-sizing:border-box;">
		
		<div class="row">
			<div class="col-md-8">
			<h1>ZERO COMMISSION</h1>
			<p>Commission not only increases the cost of any billboard with he customer point of view but it is also charged from the owner of the
				space.We, however,do not charge any fee from the owners of the hoarding too.
			</p>
			</div>
			<div class="col-md-4">
				<img src="{% static 'img/images/IMG-0352.PNG'%}" style="width:300px;height:200px;" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><img src="{% static 'img/images/IMG-0351.PNG'%}" style="width:300px;height:200px;" /></div>
			<div class="col-md-8" style="text-align:right;">
			<h1>EASE OF INQUIRY</h1>
			<p>The Lighting of billboard with the smallest of details,reduces the extra efforts that cost in terms of money as well as time.The customer 
				can be directly requested to refer to OmoAds website for the smallest of inquiry about anybillboard and associated details. 
			</p>
		
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
			<h1>OWNER'S PORTFOLIOS</h1>
			<p>In the age of technology it is always better to store detailed information on the cloud to remove the trouble associated with the misplacing 
				of the data.Hence we create an online portfolio of owners with the listing of the hoardings they own. The detail needed to crack a deal are saved 
				in a pdf format. An owner can share the link of this pdf with the possible customer. The link is only assessible to the owner of the information and 
				no one else.
			</p>
		
			</div>
			<div class="col-md-4"><img src="{% static 'img/images/IMG-0350.PNG'%}" style="width:300px;height:200px;" /></div>
		</div>
		
	</div>
</div>


<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

<div class="row " id="faq">
        <div class="col-md-12">
            <div class="jumbotron" style="background:#fff;">
                <div class="row justify-content-center text-center">
                    <div class="col-md-4">
                        <h1 style="font-size:60px;">FAQ</h1> 
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-1" />
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-2" />
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-3" />
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-4" />
                   </div>
                </div>
                <div class="row justify-content-left align-item-center">
                    
                    <div class="col-md-8">
                        <ol class="faq">
                            <li><a class="faq-link" faq-id ="1" href="{% url 'faq' 1 %}">What is Omoads?</a></li>
                            <li><a class="faq-link" faq-id ="2" href="{% url 'faq' 2 %}">How we can help you?</a></li>
                            <li><a class="faq-link" faq-id ="3" href="{% url 'faq' 3 %}">What are the types of Outdoor Medias that are listed on Omo ads?</a></li>
                            <li><a class="faq-link" faq-id ="4" href="{% url 'faq' 4 %}">How can all benefit from it?</a></li>
                            <li><a class="faq-link" faq-id ="5" href="{% url 'faq' 5 %}">How to track geograpghic location of any hoarding?</li>
                            <li><a class="faq-link" faq-id ="6" href="{% url 'faq' 6 %}">How the availability function helpful?</a></li>
                            <li><a class="faq-link" faq-id ="7" href="{% url 'faq' 7 %}">How to use ID's provided in the hoarding details?</a></li>
                            <li><a class="faq-link" faq-id ="8" href="{% url 'faq' 8 %}">Do we charge any fee?</a></li>
                            <li><a class="faq-link" faq-id ="9" href="{% url 'faq' 9 %}">Do gather data about the deals?</a></li>
                            <li><a class="faq-link" faq-id ="10" href="{% url 'faq' 10 %}">How is OMOads different?</a></li>
                            <li><a class="faq-link" faq-id ="11" href="{% url 'faq' 11 %}">What is Outdoor Advertising?</a></li>
                            <li><a class="faq-link" faq-id ="12" href="{% url 'faq' 12 %}">What are the types of Outdoor Medias that are listed on Omoads?</a></li>
                            <li><a class="faq-link" faq-id ="13" href="{% url 'faq' 13 %}">What is Traffic Light Signage?</a></li>
                            <li><a class="faq-link" faq-id ="15" href="{% url 'faq' 15 %}">What are Unipoles?</a></li>
                            <li><a class="faq-link" faq-id ="16" href="{% url 'faq' 16 %}">What is a Gantry?</a></li>
                            <li><a class="faq-link" faq-id ="17" href="{% url 'faq' 17 %}">What are the advantages of Oudoor Advertising?</a></li>
                            <li><a class="faq-link" faq-id ="18" href="{% url 'faq' 18 %}">How outdoor advertisement is done?</a></li>
                            <li><a class="faq-link" faq-id ="19" href="{% url 'faq' 19 %}">Why zones are created in city?</a></li>
                            <li><a class="faq-link" faq-id ="20" href="{% url 'faq' 20 %}">Different types of lighting done?</a></li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row " id="contact">
            <div class="col-md-12" >
                <div class="jumbotron " id="abt-contact" style="height:700px;background: #fff;
                                                                         background-size:100%;background-position-x:00px !important;">
                    <div class="row justify-content-center align-item-center text-center">
                        <div class="col-md-4">
                            <h1 style="font-size:60px">CONTACT US</h1> 
                       </div>
                    </div>
                    <div class="row justify-content-center text-center align-item-center">
                        <div class="col-md-8">
                            
                            <div class="abt-contact-cnt">
                                <div class="contact-circle-1">
                                        <div class="contact-circle-2">
                                                <div class="contact-circle-3">

                                                <form class="abt-contact-form" action="#" method="post">

                                                    <div class="row justify-content-center text-center">
                                                        <div class="col-md-6">
                                                            <br>
                                                            <input type="text" class="form-control omo" name="" placeholder="Name"/>
                                                            <input type="text" class="form-control omo" name="" placeholder="Organization"/>
                                                            <input type="email" class="form-control omo" name="" placeholder="Email"/>
                                                            <input type="text" class="form-control omo" name="" placeholder="Subject"/>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center text-center">
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control large" name="" placeholder="Tell us your reason to contact us"/>
                                                                <button class="btn" style="background:#fd7b26;color:#000;">Submit</button>
                                                            </div>
                                                    </div>
                                                </form>

                                                </div>
                                        </div>
                                </div>
                                

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
       
</div>
        
    
{% include 'footer.html' %}


{% endblock %}


{% block custom_js %}
<script>
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
    $(".faq-link").on("click",function(){
	var faqid = $(this).attr("faq-link");
        setCookie("faqid",faqid.toString() , 365);
        
    });
	
$("#abt-contact").css("background","url({% static 'img/images/IMG_4506.PNG' %}) no-repeat");
$("#abt-contact").css("background-size","100%");
</script>

{% endblock %}
