

{% extends 'base.html'%}

{% load staticfiles %}
{% block content %}

<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron panel-abt" >
            <div class="row justify-content-center align-item-center">
                <div class="col-md-8">
                    <h1 style="font-weight:lighter;margin-top:5em;font-size:40px;text-align:center;">Our missoin is to simplify the process of outdoor<br>
                    advertisment and marketing </h1>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron panel-abt" style="height:660px;">
            <div class="row justify-content-center align-item-center">
                <div class="col-md-8">
                    <img src="{% static 'img/images/IMG_4502.PNG' %}"  class="img-fluid" />
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row ">
    <div class="col-md-12">
        <div class="jumbotron panel-abt"  >
            <div class="row justify-content-center align-item-center">
                <div class="col-md-4">
                    <p style="margin-top:40%;margin-left:20%;">
                        We encourage the eradication of multilayered increment of cost
                        and hence attached distress with outdoor marketing for business campaigns
                        on billboards by connecting the campaigner directly to the advertisemt space.
                    </p>
                </div>
                <div class="col-md-8">
                        <div class="row justify-content-end align-item-center">
                            <div class="col-md-12">
                                <img src="{% static 'img/images/IMG_4507.PNG' %}" class="img-fluid abt-b2-img" />
                            </div>
                        </div>
                </div>  
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-md-12 text-center">
        <div class="jumbotron " >
                    <p style="">
                        We believe in the precision and reliability of a trident,with the prongs preventing deeply in three essential sector.
                    </p>
            <div class="row justify-content-center align-item-center txt-center">
                <div class="col-md-4">
                    <h2>Simple:</h2>
                    <img src="{% static 'img/images/IMG_4504.PNG' %}" width="200px" height="200px"/>
                    <p>
                        We provide real-time geographic locations of the billboards on the map with authentic and
                        intricate details about the hoarding and the owner hence unify the place for distant hoardings.
                        to find you a suitable place to advertise you a suitable place to advertise your business.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Free:</h2>
                    <img src="{% static 'img/images/IMG_4505.PNG' %}" width="200px" height="200px"/>
                    <p>
                        The information provided by us is free. The negotiation between The business and the owner
                        of the spaces is solely a two party deal. We don't charge a single rupee.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Accurate:</h2>
                    <img src="{% static 'img/images/IMG_4501.PNG '%}" width="200px" height="200px"/>
                    <p>
                        We provide with an essential information to make things extremely precise and accurate by
                        providing datewise availability of any space on the map upcated on a regular basis.
                     </p>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="row ">
        <div class="col-md-12">
            <div class="jumbotron" style="background:#fff;">
                <div class="row justify-content-center text-center">
                    <div class="col-md-4">
                        <h1 style="font-size:60px;">FAQ</h1> 
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-1" />
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-2" />
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-3" />
                        <img src="{% static 'img/images/IMG_4503.PNG' %}" alt="" class="marks" id="mark-4" />
                   </div>
                </div>
                <div class="row justify-content-left align-item-center">
                    
                    <div class="col-md-8">
                        <ol class="faq">
                            <li><a href="#">What is Omoads?</a></li>
                            <li><a href="#">How we can help you?</a></li>
                            <li><a href="#">What are the types of Outdoor Medias that are listed on Omo ads?</a></li>
                            <li><a href="#">How can all benefit from it?</a></li>
                            <li><a href="#">How to track geograpghic location of any hoarding?</li>
                            <li><a href="#">How the availability function helpful?</a></li>
                            <li><a href="#">How to use ID's provided in the hoarding details?</a></li>
                            <li><a href="#">Do we charge any fee?</a></li>
                            <li><a href="#">Do gather data about the deals?</a></li>
                            <li><a href="#">How is OMOads different?</a></li>
                            <li><a href="#">What is Outdoor Advertising?</a></li>
                            <li><a href="#">What are the types of Outdoor Medias that are listed on Omoads?</a></li>
                            <li><a href="#">What is Traffic Light Signage?</a></li>
                            <li><a href="#">What are Unipoles?</a></li>
                            <li><a href="#">What is a Gantry?</a></li>
                            <li><a href="#">What are the advantages of Oudoor Advertising?</a></li>
                            <li><a href="#">How outdoor advertisement is done?</a></li>
                            <li><a href="#">Why zones are created in city?</a></li>
                            <li><a href="#">Different types of lighting done?</a></li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row ">
            <div class="col-md-12" >
                <div class="jumbotron panel-abt" id="abt-contact" style="background: #fff;
                                                                         background-size:100%;background-position-x:00px !important;">
                    <div class="row justify-content-center align-item-center text-center">
                        <div class="col-md-3">
                            <h1>CONTACT US</h1> 
                       </div>
                    </div>
                    <div class="row justify-content-center text-center align-item-center">
                        <div class="col-md-8">
                            
                            <div style="margin-left:10em;">
                                <div class="contact-circle-1">
                                        <div class="contact-circle-2">
                                                <div class="contact-circle-3">

                                                <form>

                                                    <div class="row justify-content-center text-center">
                                                        <div class="col-md-6">
                                                            <br>
                                                            <input type="text" class="form-control omo" name="" placeholder="Name"/>
                                                            <input type="text" class="form-control omo" name="" placeholder="Organization"/>
                                                            <input type="email" class="form-control omo" name="" placeholder="Email"/>
                                                            <input type="text" class="form-control omo" name="" placeholder="Subject"/>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center text-center">
                                                            <div class="col-md-7">
                                                                <input type="text" class="form-control large" name="" placeholder="Tell us your reason to contact us"/>
                                                                <button class="btn" style="background:#fd7b26;color:#000;">Submit</button>
                                                            </div>
                                                    </div>
                                                </form>

                                                </div>
                                        </div>
                                </div>
                                

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
       

        
    
{% include 'footer.html' %}


{% endblock %}


{% block custom_js %}
<script>
    $(document).ready(function(){

        $("#abt-contact").css("background","#fff url({% static 'img/images/IMG_4506.PNG' %}) center no-repeat");
        
    });
</script>

{% endblock %}
