{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %} {% endblock %} OMOADS</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block specific_cdns %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/baseOwnerInterface.css' %}">

    {% block specific_css %}
    {% endblock %}
    


</head>
<body>
<header>
    <nav class="navbar navbar-inverse navigationBar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="padding: 15Px; padding-left: 45px;">O M O A D S</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Directions</a></li>
          <li><a href="#">Help</a></li>
          {% if not loginStatus %}
          <li><a data-toggle="modal" data-target="#registerModal" style="cursor: pointer;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a data-toggle="modal" data-target="#loginModal" style="cursor: pointer;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
        {% if loginStatus %}
          <li><a href="#">{{username}}</a></li>
          <li><a href="#">{{userType}}</a></li>
          <li><a href="{% url 'auth_logout' %}"><span class="glyphicon glyphicon-user-log-in"></span>Logout</a></li>
        {% endif %}
        </ul>
      </div>
    </nav>
</header>
<div class="container-fluid">
	<div class="col-sm-3 side-bar">
		<h2 style="padding-bottom: 15px; padding-left: 30px;">Dashboard</h2>
		<div class="list-group">
             <a href="{% url 'owner_interface' %}" style="text-decoration: none;"><li class="list-group-item overview"><span class="glyphicon glyphicon-blackboard"></span>  Overview</li></a>
            <a href="{% url 'owner_interface_price' %}" style="text-decoration: none;"><li class="list-group-item change-price"><span class="glyphicon glyphicon-wrench"></span>  Change Price</li></a>
            <a href="{% url 'owner_interface_book' %}" style="text-decoration: none;"><li class="list-group-item book-hoarding"><span class="glyphicon glyphicon-shopping-cart"></span>  Book Hoarding</li></a>
            <a href="{% url 'owner_interface_status' %}" style="text-decoration: none;"><li class="list-group-item status"><span class="glyphicon glyphicon-shopping-cart"></span>  Status</li></a>  
            <a href="{% url 'owner_interface_cancel' %}" style="text-decoration: none;"><li class="list-group-item cancel-booking"><span class="glyphicon glyphicon-shopping-cart"></span>  Cancel Booking</li></a>
         </div>
	</div>

{% block main_area %}


{% endblock %}
</div>
</body>
</html>