{% extends 'base1.html' %}


{% block head_title %}
Book Hoarding || 
{% endblock %}

{% block specific_cdns %}
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}

{% block main_area %}

  <div class="col-sm-9 main-area">
    <div class="top-filters">
     <h3 class="filter-heading">Filters :</h3>
     <div class="row filter-row">
       <div class="dropdown col-sm-3">
        <button class="btn btn-default dropdown-toggle zone-filter" type="button" data-toggle="dropdown">Zones
         <span class="caret"></span></button>
         <ul class="dropdown-menu">


          {% for zone in zones %}
           <div class="checkbox">
            <label><input name = "zoneList" type="checkbox" onclick = "myFilter(this)" value = "{{zone.zone_name}}"> {{zone.zone_name}}</label>
          </div>
          {% endfor %}

      </ul>
    </div>

    <div class="col-sm-4 date-container">
      <div class="row">
        <div class="col-sm-12" style="padding-right: 0px;">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" name="daterange">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </form>
          <script type="text/javascript">

              var startDateForm;
              var endDateForm;

              $(document).ready(function() {

                  $('input[name="daterange"]').daterangepicker({
                    minDate: moment(),
                    format: 'DD/MM/YYYY',
                    seperator: 'To',
                  },
                  function(start, end){
                    console.log("call back");
                    startDateForm = start;
                    endDateForm = end;
                    var diff = end.diff(start, 'days')
                    $('#startDateForm').val(start.format('YYYY-MM-DD'));
                    $('#endDateForm').val(end.format('YYYY-MM-DD'));
                    $('#daysForm').val(diff);
                    console.log(diff)
                    $('#bookHoarding').attr("disabled", false)
                  });

              });

              </script>
        </div>
      </div>
    </div>

    <div class="col-sm-5 book-btn">
        <button type="button" class="btn btn-primary pull-right" id="bookHoarding" disabled = "true" data-toggle="modal" data-target="#bookingDetails"><span class="glyphicon glyphicon-shopping-cart"></span> Book   <span class="badge" id="badge-count">0</span></button>
          
        </div>

      </div>
    </div>

      
    <div id="bookingDetails" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Booking Details</h2>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Location</th>
                  <th>Pole ID</th>
                  <th>Facing</th>
                </tr>
              </thead>
              <tbody id = "cartBody">
                
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id = "submitBoards"><span class="glyphicon glyphicon-shopping-cart"></span> Book</button>
          </div>
        </div>

      </div>
    </div>



    <div class="pole-templates">
      <form id="bookBoards" method = "POST" action = "{% url 'owner_interface_book_board' %}">
      {% csrf_token %}
      {% for item in details %}
        <div class="checkbox2" id = "card{{item.id}}">
          <label class="display-checkbox" style="padding-left: 0px; width: 100%;">
          <input type="checkbox" name="boards" value = "{{item.id}}" id = "{{item.id}}">

             <div class="display-card">
                <div class="row">
                  <div class="col-sm-3 pole-image">
                <img src="{{ MEDIA_URL }}{{ item.banner_image }}" class="img-thumbnail" alt="Cinque Terre" width="190" height="180">
                </div>
                <div class="col-sm-9 pole-description">
                  <p class="card-heading cont">{{item.banner_landmark}}</p>
                  <div class="card-content">
                    <p class="cont">Facing: {{item.banner_facing}}</p>
                    <p class="cont">Pole ID: {{item.id}}</p>
                    <p class="cont">Type: {{item.banner_type}}</p>
                  </div>
                  <p class="pole-price">&#8377 {{item.banner_cost}}</p>
                </div>
                </div>
            </div> 
          </label>
        </div>

          <script>

              var item = document.getElementById("{{item.id}}")
              console.log("{{item.banner_facing}}");
              item.face = "{{item.banner_facing}}"
              item.landmark = "{{item.banner_landmark}}"  
          </script>
          <script type="text/javascript">
        var card = document.getElementById("card{{item.id}}")
        card.zone = "{{item.zone}}"
    </script>

        {% endfor %}
        <input type = "hidden" name = "dateStart" value = "" id = "startDateForm">
        <input type = "hidden" name = "dateEnd" value = "" id = "endDateForm">
        <input type = "hidden" name = "days" value = "" id = "daysForm">


      </form>
    </div>


        
  </div>
</div>
<script type="text/javascript">
  
  $('#submitBoards').click(function(){
      $('#bookBoards').submit();
  });


  $('input[name=boards]').click(function(){
  document.getElementById("badge-count").innerHTML=$('input[name=boards]:checked').length;

  var checkedBoards = [];
  

  if(this.checked == true)
  {
      checkedBoards.push(this.id);
      var tr = document.createElement("tr");

      var tdLandmark = document.createElement("td");
      var tdId = document.createElement("td");
      var tdFace = document.createElement("td");
      var textNodeId = document.createTextNode(this.id);
      var textNodeFace = document.createTextNode(this.face);
      var textNodeLandmark = document.createTextNode(this.landmark);

      tdLandmark.appendChild(textNodeLandmark);
      tdId.appendChild(textNodeId);
      tdFace.appendChild(textNodeFace);

      tr.appendChild(tdLandmark);
      tr.appendChild(tdId);
      tr.appendChild(tdFace);

      tr.id = "tr" + this.id;

      document.getElementById("cartBody").appendChild(tr);
      console.log("haaas");
  }
  else
  {
    console.log("naaa");
      checkedBoards.splice(checkedBoards.indexOf(this.id),1);
      document.getElementById("cartBody").removeChild(document.getElementById("tr" + this.id));
  }
  console.log(checkedBoards);

});

function myFilter() {
  // Declare variables 
  var cards = document.getElementsByClassName("checkbox2")
  var zones = document.getElementsByName("zoneList")

  console.log(zones)
  var checkedZones = []
  for(var i = 0; i < zones.length; i++)
    if(zones[i].checked)
    {
      checkedZones.push(zones[i].value)
    }
  console.log(checkedZones)
  
    for(var i = 0; i<cards.length; i++)
  {
    if(checkedZones.length != 0)
    {
      if(checkedZones.indexOf(cards[i].zone.toUpperCase()) > -1)
        cards[i].style.display = "";
      else
        cards[i].style.display = "none";
    }
    else
      cards[i].style.display = "";
  }
}
 
</script>

{% endblock %}