{% extends 'base1.html' %}


{% block head_title %}
Book Hoarding || 
{% endblock %}

{% block specific_cdns %}
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}

{% block main_area %}

  <div class="col-sm-9 main-area">
    <div class="top-filters">
     <h3 class="filter-heading">Filters :</h3>
     <div class="row filter-row">
       <div class="dropdown col-sm-3">
        <button class="btn btn-default dropdown-toggle zone-filter" type="button" data-toggle="dropdown">Zones
         <span class="caret"></span></button>
         <ul class="dropdown-menu">
          <form class="zone-form">
           <div class="checkbox">
            <label><input type="checkbox"> Hapur Road</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> RDC</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> G.T. Road</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Ambedkar Road</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Navyug Market</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Diamond Flyover</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Meerut Road</label>
          </div>
        </form>
      </ul>
    </div>

    <div class="col-sm-4 date-container">
      <div class="row">
        <div class="col-sm-12" style="padding-right: 0px;">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" name="daterange">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </form>
          <script type="text/javascript">
            $(function() {
              $('input[name="daterange"]').daterangepicker();
            });
          </script>
        </div>
      </div>
    </div>

    <div class="col-sm-5 book-btn">
      <button type="button" class="btn btn-primary pull-right" id="bookHoarding" data-toggle="modal" data-target="#bookingDetails"><span class="glyphicon glyphicon-shopping-cart"></span> Book   <span class="badge" id="badge-count">0</span></button>

    </div>

  </div>
  </div>


  <div id="bookingDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Booking Details</h2>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Location</th>
                <th>Pole ID</th>
                <th>Facing</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hapur Road, Near Hapur Chungi</td>
                <td>002-A</td>
                <td>IMS</td>
              </tr>
              <tr>
                <td>Hapur Road, Near Hapur Chungi</td>
                <td>002-A</td>
                <td>IMS</td>
              </tr>
              <tr>
                <td>Hapur Road, Near Hapur Chungi</td>
                <td>002-A</td>
                <td>IMS</td>
              </tr>
              <tr>
                <td>Hapur Road, Near Hapur Chungi</td>
                <td>002-A</td>
                <td>IMS</td>
              </tr>
              <tr>
                <td>Hapur Road, Near Hapur Chungi</td>
                <td>002-A</td>
                <td>IMS</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-shopping-cart"></span> Book</button>
        </div>
      </div>

    </div>
  </div>



  <div class="pole-templates">
    <form id="abc">
      <div class="checkbox">
        <label class="display-checkbox" style="padding-left: 0px; width: 100%;"><input type="checkbox" name="vehicle">
         <div class="display-card">
          <div class="row">
            <div class="col-sm-3 pole-image">
              <img src="{{ MEDIA_URL }}{{ 'products/images/banner3.jpg' }}" class="img-thumbnail" alt="Cinque Terre" width="190" height="180">
            </div>
            <div class="col-sm-9 pole-description">
              <p class="card-heading cont">Hapur Road, Near Hapur Chungi</p>
              <div class="card-content">
                <p class="cont">Facing: IMS</p>
                <p class="cont">Pole ID: 0001-A</p>
                <p class="cont">Type: Gantry</p>
              </div>
              <p class="pole-price">&#8377 1,40,000</p>
            </div>
          </div>
        </div> 
      </label>
    </div>

    <div class="checkbox">
      <label class="display-checkbox" style="padding-left: 0px; width: 100%;"><input type="checkbox" name="vehicle">
       <div class="display-card">
        <div class="row">
          <div class="col-sm-3 pole-image">
            <img src="{{ MEDIA_URL }}{{ 'products/images/banner3.jpg' }}" class="img-thumbnail" alt="Cinque Terre" width="190" height="180">
          </div>
          <div class="col-sm-9 pole-description">
            <p class="card-heading cont">Hapur Road, Near Hapur Chungi</p>
            <div class="card-content">
              <p class="cont">Facing: IMS</p>
              <p class="cont">Pole ID: 0001-A</p>
              <p class="cont">Type: Gantry</p>
            </div>
            <p class="pole-price">&#8377 1,40,000</p>
          </div>
        </div>
      </div> 
    </label>
  </div>

  <div class="checkbox">
    <label class="display-checkbox" style="padding-left: 0px; width: 100%;"><input type="checkbox" name="vehicle">
     <div class="display-card">
      <div class="row">
        <div class="col-sm-3 pole-image">
          <img src="{{ MEDIA_URL }}{{ 'products/images/banner3.jpg' }}" class="img-thumbnail" alt="Cinque Terre" width="190" height="180">
        </div>
        <div class="col-sm-9 pole-description">
          <p class="card-heading cont">Hapur Road, Near Hapur Chungi</p>
          <div class="card-content">
            <p class="cont">Facing: IMS</p>
            <p class="cont">Pole ID: 0001-A</p>
            <p class="cont">Type: Gantry</p>
          </div>
          <p class="pole-price">&#8377 1,40,000</p>
        </div>
      </div>
    </div> 
  </label>
  </div>

  <div class="checkbox">
    <label class="display-checkbox" style="padding-left: 0px; width: 100%;"><input type="checkbox" name="vehicle">
     <div class="display-card">
      <div class="row">
        <div class="col-sm-3 pole-image">
          <img src="{{ MEDIA_URL }}{{ 'products/images/banner3.jpg' }}" class="img-thumbnail" alt="Cinque Terre" width="190" height="180">
        </div>
        <div class="col-sm-9 pole-description">
          <p class="card-heading cont">Hapur Road, Near Hapur Chungi</p>
          <div class="card-content">
            <p class="cont">Facing: IMS</p>
            <p class="cont">Pole ID: 0001-A</p>
            <p class="cont">Type: Gantry</p>
          </div>
          <p class="pole-price">&#8377 1,40,000</p>
        </div>
      </div>
    </div> 
  </label>
  </div>

  <div class="checkbox">
    <label class="display-checkbox" style="padding-left: 0px; width: 100%;"><input type="checkbox" name="vehicle">
     <div class="display-card">
      <div class="row">
        <div class="col-sm-3 pole-image">
          <img src="{{ MEDIA_URL }}{{ 'products/images/banner3.jpg' }}" class="img-thumbnail" alt="Cinque Terre" width="190" height="180">
        </div>
        <div class="col-sm-9 pole-description">
          <p class="card-heading cont">Hapur Road, Near Hapur Chungi</p>
          <div class="card-content">
            <p class="cont">Facing: IMS</p>
            <p class="cont">Pole ID: 0001-A</p>
            <p class="cont">Type: Gantry</p>
          </div>
          <p class="pole-price">&#8377 1,40,000</p>
        </div>
      </div>
    </div> 
  </label>
  </div>

  <div class="checkbox">
    <label class="display-checkbox" style="padding-left: 0px; width: 100%;"><input type="checkbox" name="vehicle">
     <div class="display-card">
      <div class="row">
        <div class="col-sm-3 pole-image">
          <img src="{{ MEDIA_URL }}{{ 'products/images/banner3.jpg' }} class="img-thumbnail" alt="Cinque Terre" width="190" height="180">
        </div>
        <div class="col-sm-9 pole-description">
          <p class="card-heading cont">Hapur Road, Near Hapur Chungi</p>
          <div class="card-content">
            <p class="cont">Facing: IMS</p>
            <p class="cont">Pole ID: 0001-A</p>
            <p class="cont">Type: Gantry</p>
          </div>
          <p class="pole-price">&#8377 1,40,000</p>
        </div>
      </div>
    </div> 
  </label>
  </div>
  </form>
  </div>



  </div>
  <script type="text/javascript">
    $('input[name=vehicle]').click(function(){
      document.getElementById("badge-count").innerHTML=$('input[name=vehicle]:checked').length;
    });
  </script>

{% endblock %}