{% extends 'base1.html' %}


{% block head_title %}
Cancel Booking || 
{% endblock %}


{% block main_area %}
	<div class="col-sm-9 main-area">
		<div class="top-filters">
			<h3 class="filter-heading">Filters :</h3>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle zone-filter" type="button" data-toggle="dropdown">Zones
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<form class="zone-form">
							<div class="checkbox">
								<label><input type="checkbox"> Hapur Road</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> RDC</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> G.T. Road</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Ambedkar Road</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Navyug Market</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Diamond Flyover</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Meerut Road</label>
							</div>
						</form>
					</ul>
			</div>
		</div>

		<div class="booking-history">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Location</th>
            <th>Facing</th>
            <th>Pole ID</th>
            <th>Date Of Booking</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td style="padding-top: 15px; padding-bottom: 15px;">Hapur Road, Near Hapur Chungi</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">IMS</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">001-A</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">27/07/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">15/08/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">30/08/2017</td>
          <td style="padding-top: 10px; padding-bottom: 5px;"><button type="button" class="btn btn-danger" style="margin: ;">Cancel</button></td>
          </tr>

          <tr>
          <td style="padding-top: 15px; padding-bottom: 15px;">Hapur Road, Near Hapur Chungi</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">IMS</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">001-A</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">27/07/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">15/08/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">30/08/2017</td>
          <td style="padding-top: 10px; padding-bottom: 5px;"><button type="button" class="btn btn-danger" style="margin: ;">Cancel</button></td>
          </tr>

          <tr>
          <td style="padding-top: 15px; padding-bottom: 15px;">Hapur Road, Near Hapur Chungi</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">IMS</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">001-A</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">27/07/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">15/08/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">30/08/2017</td>
          <td style="padding-top: 10px; padding-bottom: 5px;"><button type="button" class="btn btn-danger" style="margin: ;">Cancel</button></td>
          </tr>

          <tr>
          <td style="padding-top: 15px; padding-bottom: 15px;">Hapur Road, Near Hapur Chungi</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">IMS</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">001-A</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">27/07/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">15/08/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">30/08/2017</td>
          <td style="padding-top: 10px; padding-bottom: 5px;"><button type="button" class="btn btn-danger" style="margin: ;">Cancel</button></td>
          </tr>

          <tr>
          <td style="padding-top: 15px; padding-bottom: 15px;">Hapur Road, Near Hapur Chungi</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">IMS</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">001-A</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">27/07/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">15/08/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">30/08/2017</td>
          <td style="padding-top: 10px; padding-bottom: 5px;"><button type="button" class="btn btn-danger" style="margin: ;">Cancel</button></td>
          </tr>

          <tr>
          <td style="padding-top: 15px; padding-bottom: 15px;">Hapur Road, Near Hapur Chungi</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">IMS</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">001-A</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">27/07/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">15/08/2017</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">30/08/2017</td>
          <td style="padding-top: 10px; padding-bottom: 5px;"><button type="button" class="btn btn-danger" style="margin: ;">Cancel</button></td>
          </tr>

        </tbody>
      </table>
    </div>



				
	</div>
{% endblock %}
