{% extends 'base1.html' %}





{% block main_area %}
	<div class="col-sm-9 main-area">
		<div class="top-filters">
			<h3 class="filter-heading">Filters :</h3>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle zone-filter" type="button" data-toggle="dropdown">Zones
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<form class="zone-form">
							<div class="checkbox">
								<label><input type="checkbox"> Hapur Road</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> RDC</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> G.T. Road</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Ambedkar Road</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Navyug Market</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Diamond Flyover</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox"> Meerut Road</label>
							</div>
						</form>
					</ul>
			</div>
		</div>

	   <div class="booking-history">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Location</th>
            <th>Facing</th>
            <th>Pole ID</th>
            <th>Date Of Booking</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in details %}
          <tr id = "{{item.bdID}}">
          <td style="padding-top: 15px; padding-bottom: 15px;">{{item.banner.banner_landmark}}</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">{{item.banner.banner_facing}}</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">{{item.banner.id}}</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">{{item.bookingDate}}</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">{{item.startDate}}</td>
          <td style="padding-top: 15px; padding-bottom: 15px;">{{item.endDate}}</td>
          <td style="padding-top: 10px; padding-bottom: 5px;">
          <button type="button" class="btn btn-danger" id = "{{item.banner.id}}" style="margin: ;">Cancel</button></td>
          </tr>
          <script type="text/javascript">

            var item = document.getElementById("{{item.banner.id}}")
            item.bdID = "{{item.bdID}}"
            console.log(item.bdID)
           item.onclick = function(){
              $.ajax({
                  type: "POST",
                  url: "{% url 'owner_interface_cancel_board' %}",
                  data: {
                  "csrfmiddlewaretoken": "{{ csrf_token }}",
                  "boardID":this.id,
                  "bdID":this.bdID
                  },
                  success: function(data){
                    var tr = document.getElementById("{{item.bdID}}")
                    tr.parentNode.removeChild(tr)

                  },
                  error: function(){
                  alert("Error! Something wrong. Please try again later")
                  },
              });
            }
          </script>
        {% endfor %}

          
        </tbody>
      </table>
    </div>



</div>
{% endblock %}
