{% extends 'dash_base.html'%}


{% load staticfiles %}

    {% block custom_css %}
    <style>
    .form-control::-webkit-input-placeholder { color: #aaa; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { color: #aaa; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { color: #aaa; }  /* Microsoft Edge */
    </style>
    {% endblock %}




    
    
    {% block content %}


    <div class="block" style="height:100%;padding:40px;">



                    <form>
                        <div style="width:60%;">
                                Personal information &nbsp;<a href=""> edit</a><br><br>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" value="{{user.first_name}}" placeholder="First name" style="background:#eee;">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" value="{{user.last_name}}" placeholder="Last name" style="background:#eee;">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div style="width:60%;">
                                Email Address &nbsp;<a href=""> edit</a>&nbsp;<a href=""> change password</a><br><br>
                            <div class="row">
                                <div class="col">
                                    <input type="email" value="{{user.email}}" class="form-control" placeholder="Email" style="background:#eee;">
                                </div>
                                <div class="col">
                                    </div>
                            </div>
                        </div>
                        <br>
                        <div style="width:60%;">
                                Mobile Number &nbsp;<a href=""> edit</a><br><br>
                            <div class="row">
                                <div class="col">
                                    <input type="number" value="{{user.extendeduser.phone_number}}" class="form-control" placeholder="91" style="background:#eee;">
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </div>
                    </form>



        </div>

{% endblock %}

{% block custom_js %}

<script>
        $("#profile").on("click",function(){
            
        });
        $("#favorites").on("click",function(){
        
        });
    
        $("#logout").on("click",function(){
            
            $.post("logout.html",{data:data},function(responce,result){
            
                if(result){
                    window.location("login.html");
                }
                else{
                    alert("Unable to logout !");
                }
            });
        });
</script>

{% endblock %}
