{% extends 'dash_base.html'%}


{% load staticfiles %}

    {% block custom_css %}
    <style>
    .form-control::-webkit-input-placeholder { color: #aaa; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { color: #aaa; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { color: #aaa; }  /* Microsoft Edge */
    </style>
    {% endblock %}




    
    
{% block content %}


				
						<!-- fav block-->
						{% for fav in user.favourite_set.all %}
                        <div class="block" style="height:30%;padding:20px;">

                                        <div class="row">
						<div class="col-md-2">
							<img src="{{MEDIA_URL}}{{fav.banner.bannerimage}}" style="width:150px;height:120px;"/>
						</div>
						<div class="col-md-8">
							<h4 style="margin-left:40px;">fav.banner.banner_landmark</h4>
							<ul style="list-style:none;font-size:12px;">
								<li>{{fav.banner.pk}}</li>
								<li>{{fav.banner.banner_facing}}</li>
								<li>{{fav.banner.banner_type}}</li>
								<li>{{fav.banner.banner_lighted}}</li>
								<li>{{fav.banner.zone}}</li>
								<li>{{fav.banner.get_banner_dimensions}}</li>
							
							</ul>
						</div>
						<div class="col-md-2">
						 <h4>{{fav.banner.get_current_price}}</h4>
							<span class="btn" style="margin-left:90px;" ><i class="far fa-times-circle"></i></span>
						</div>
					</div>
          
                        </div>
						<!-- end-->
						{% endfor %}
						
						

    
    
    

{% endblock %}

{% block custom_js %}


{% endblock %}

    
    
    
    


         
