{% extends 'dash_base.html'%}


{% load staticfiles %}

    {% block custom_css %}
    <style>
    .form-control::-webkit-input-placeholder { color: #aaa; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { color: #aaa; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { color: #aaa; }  /* Microsoft Edge */
    </style>
    {% endblock %}




    
    
{% block content %}


				
						<!-- fav block-->
                        <div class="block" style="height:30%;padding:20px;">

                                        <div class="row">
						<div class="col-md-2">
							<img src="" style="width:150px;height:120px;"/>
						</div>
						<div class="col-md-8">
							<h4 style="margin-left:40px;">Hapur chungi</h4>
							<ul style="list-style:none;font-size:12px;">
								<li>items</li>
								<li>items</li>
								<li>items</li>
								<li>items</li>
								<li>items</li>
							</ul>
						</div>
						<div class="col-md-2">
						 <h4>Rs 3700.00</h4>
							<spna class="btn" style="margin-left:90px;" ><i class="far fa-times-circle"></i></spna>
						</div>
					</div>
          
                        </div>
						<!-- end-->
						
						<!-- fav block-->
                        <div class="block" style="height:30%;padding:20px;margin-top:10px;">

                                        <div class="row">
						<div class="col-md-2">
							<img src="" style="width:150px;height:120px;"/>
						</div>
						<div class="col-md-8">
							<h4 style="margin-left:40px;">Hapur chungi</h4>
							<ul style="list-style:none;font-size:12px;">
								<li>items</li>
								<li>items</li>
								<li>items</li>
								<li>items</li>
								<li>items</li>
							</ul>
						</div>
						<div class="col-md-2">
						 <h4>Rs 3700.00</h4>
							<spna class="btn" style="margin-left:90px;" ><i class="far fa-times-circle"></i></spna>
						</div>
					</div>
          
                        </div>
						<!-- end-->

    
    
    

{% endblock %}

{% block custom_js %}

<script>
        $("#profile").on("click",function(){
            
        });
        $("#favorites").on("click",function(){
        
        });
    
        $("#logout").on("click",function(){
            
            $.post("logout.html",{data:data},function(responce,result){
            
                if(result){
                    window.location("login.html");
                }
                else{
                    alert("Unable to logout !");
                }
            });
        });
</script>

{% endblock %}

    
    
    
    


         
