{% load staticfiles %}
<footer class="ct-footer">
        <div class="container">
            <ul class="ct-footer-list text-center-sm">
                <li>
                    <h2 class="ct-footer-list-header">
                        Learn More
                    </h2>
                    <ul>
                        <li>
                            <a href="">Company</a>
                        </li>
                        <li>
                            <a href="">Clients</a>
                        </li>
                        <li>
                            <a href="">News</a>
                        </li>
                        <li>
                            <a href="">Careers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="ct-footer-list-header">
                        Services
                    </h2>
                    <ul>
                        <li>
                            <a href="">Advertisements</a>
                        </li>
                        <li>
                            <a href="">Marketing</a>
                        </li>
                        <li>
                            <a href="">Sales</a>
                        </li>
                        <li>
                            <a href="">Hoarding Owner</a>
                        </li>
                        <li>
                            <a href="">Support</a>
                        </li>
                    </ul>
                </li>                
                <li>
                    <h2 class="ct-footer-list-header">
                        About
                    </h2>
                    <ul>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">Our Board</a>
                        </li>
                        <li>
                            <a href="">Our Staff</a>
                        </li>
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="ct-footer-meta text-center-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-2" style="padding-top:35px;">
                            <img class="img-responsive2"
                            src="{% static 'resources/images/re-logo.png' %}">
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <address>
                            <span>Omoads<br></span>H.NO-402 Near DR. Ambedkar Inter College Indergarhi,Ghaziabad,
                            India, PIN 201302
                        </address>
                    </div>
                    <div class="col-sm-6 col-md-3" >
                            <br>
                                <i class="far fa-envelope-open" style="color:#fff;"></i> <font color="#fff"">teamomoads@gmail.com</font><br>
                                <i class="fas fa-phone" style="color:#fff;"></i> <font color="#fff"">+91 9911-639-985</font>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <ul class="ct-socials list-unstyled list-inline" style="white-space:nowrap;">
                            <li style="display: inline;">
                                <a href="" target="_blank"><img alt="facebook" src="https://www.solodev.com/assets/footer/facebook-white.png"></a>
                            </li>
                            <li style="display: inline;">
                                <a href="" target="_blank"><img alt="twitter" src="https://www.solodev.com/assets/footer/twitter-white.png"></a>
                            </li>
                            <li style="display: inline;">
                                <a href="" target="_blank"><img alt="youtube" src="https://www.solodev.com/assets/footer/youtube-white.png"></a>
                            </li>
                            <li style="display: inline;">
                                <a href="" target="_blank"><img alt="instagram" src="https://www.solodev.com/assets/footer/instagram-white.png"></a>
                            </li>
                            <li style="display: inline;">
                                <a href="" target="_blank"><img alt="pinterest" src="https://www.solodev.com/assets/footer/pinterest-white.png"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="row" style="border-top: 1px solid rgba(255, 255, 255, 0.1);border-bottom: 1px solid rgba(255, 255, 255, 0.1);text-align: center;width: 100%;display: table-cell;">
                         <font color="#fff"">Copyright © 2018 - 
                            All Rights Reserved @omoads.com<br></font>
                    <br>
                    </div>
                </div>
            </div>
        </div>
    </footer>
