{% load staticfiles %}
<div class="row footer">

    <div class="col-md-8">
        <p style="margin-left:6em;">Contact us and we will get back you withen 24 hours</p>
        <br>
        <ul style="list-style:none;">
            <Li><i class="fas fa-map-marker-alt fa fa-2x" style="margin-right:1em;"></i>H.NO-402 Near DR. Ambedkar Inter College Indergrahi,Ghazibad,<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp India, PIN 201302</Li>
            <li><i class="fab fa-whatsapp " style="margin-right:1em;"></i> +91 9911-639-985</li>
            <li><i class="fas fa-envelope  fa fa-2x"style="margin-right:1em;"></i>teamomoads@gmail.com</li>
        </ul>
        <br><br>
        <p style="margin-left:2em;">tearms & conditions</p>
    </div>
    <diiv class="col-md-4">
        <p>Links to other main Pages</p>
        <br><br><br>
        <img src="{% static 'img/images/1x1_Logo.png' %}" width="250px" height="auto" alt="" />
        <p>Copyright &copy 2018</p>
    </diiv>
</div>
