
{% extends 'base.html'%}


{% load staticfiles %}
{% block content %}

    <div class="row" style="background:#fff;">

        <div class="col-md-12">
            <div class="jumbotron" id="panel-1" style="background:#fff url()   no-repeat ; ">
                <div class="row justify-content-left">
                    <div class="col-md-6">
                        <div id="p1-block">
                            <h1>ONLINE MARKETPLACE FOR
                                <br>OUTDOOR ADVERTISING</h1>
                            <p>Search, Connect and Rent</p>
                            <a href="{% url 'map_view' %}" class="btn">BROWSE
                                <br> INVENTORY</a>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-12">
            <div class="jumbotron" id="panel-2" style="background:#fff;">

                <div class="row" id="p2-block-1">
                    <div class="col-md-10">

                        <div class="circle-1">
                            <i class="fas fa-check-square fa fa-4x active" style="margin-left:30%;margin-top:25%;color:#fff;"></i>
                        </div>
                        <h2 class="display-4">Check availability of
                            <br>Hoarding Boards</h2>
                        <div class="pole"></div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <div class="row" id="p2-block-2">
                    <div class="col-md-10">
                        <div class="circle-2">
                            <img src="{% static 'img/images/hand.png' %}" />
                        </div>
                        <div class="text-box-1">
                            <h2 class="display-4">Zero % Commission </h2>
                            <ul style="width:80%;">
                                <li>Direct deal between hoarding owner and you.</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row" id="p2-block-3">
                    <div class="col-md-10">
                        <div class="circle-3" >
                            <i class="fas fa-map-marker-alt fa fa-5x" style="color:#fff;margin-left:28%;margin-top:20%;"></i>
                        </div>
                        <div class="text-box-3">
                            <h2 class="display-4">Find Hoarding based on
                                <br>geographic location </h2>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

    </div>

    <div class=" row justify-content-center">

        <div class="col-md-12">
            <div class="jumbotron" id="panel-3" style="background:#fff url()   no-repeat;">

                <div class="row justify-content-centers">
                    <div class="col-md-12">
                        <div id="p3-block-1">
                            <br>
                            <br>
                            <h1>OUR
                                <br>PARTNERS</h1>

                        </div>

                    </div>
                </div>
                <br>
                <div class="row justify-content-centers">
                    <div class="col-md-4 col-xs-12">
                        <img src="{% static 'img/images/poleadslogo.png' %}" class="prt-img" alt="" style="width:90%;" />
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <img src="{% static 'img/images/pt2.png' %}" class="prt-img" alt="" style="width:90%;" />
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <img src="{% static 'img/images/pt3.png' %}" class="prt-img" alt="" style="width:90%;" />
                    </div>
                </div>
            </div>
        </div>
    </div>


  
        <div class=" row justify-content-center">
    
            <div class="col-md-12">
                <div class="jumbotron" id="panel-4" style="background:#fff url()   no-repeat;">
    
                    <div class="row  align-items-center">
                        <div class="col-md-6">
                            <div id="p4-shape-1"></div>
    
                            <div id="p4-shape-2"></div>
    
                            <div id="p4-shape-3"></div>
    
                            <div id="p4-shape-4">
                                <i class="fas fa-envelope  fa fa-4x" style="margin-left:30px;margin-top:27px;"></i>
                            </div>
    
                        </div>
                        <div class="col-md-6">
                            <div class="sub-block">
                                <h2 class="sub-block-heading">
                                    Subscribe to our newsletter to
                                    <br>receive industry report and our latest
                                    <br>updates...</h2>
                                <form class="form-inline">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="email" style="height:50px;border-radius:20px;background:#fd7b26;color:#fff;" class="form-control" id="inputPassword2"
                                            placeholder="Type your email...">
                                    </div>
                                    <button type="submit" style="height:50px;border-radius:20px;background:#000;" class="btn btn-primary btn-lg mb-2">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    

    
    {% include 'footer.html' %}

{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function(){

        $("#panel-4").css("background","url({% static 'img/images/back3.png' %}) no-repeat");
        $("#panel-3").css("background","url({% static 'img/images/back4.png' %}) no-repeat");
        $("#panel-2").css("background","url({% static 'img/images/back2.png' %}) no-repeat");
        $("#panel-1").css("background","url({% static 'img/images/back1.png' %}) no-repeat");
    });
</script>
{% endblock %}
