{% load static_files %}
<html>

<head>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/theme.css'%}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#"><img class="img-responsive2"
            src="https://omos.s3.amazonaws.com/resources/images/re-logo.png"></a>
        <button class="navbar-toggler" style="z-index:1060;"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
            <div class="main-wraper">
                    <div class="wrap1" >
                        <div class="wrap2">
                            <div class="wrap3">
                                <div class="wrap4">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
     
                    <div class="collapse navbar-collapse "  id="navbarSupportedContent" style="z-index:2;">
                
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active items">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown items">
                            <a class="nav-link" href="/map-view">Map View</a>
                        </li>
                        <li class="nav-item dropdown items">
                        
                        <a class="nav-link dropdown-toggle" href="/aboutus/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="background:#fd7b26;border:1px solid #000;">
                            <a class="dropdown-item" href="/aboutus/#faq">FAQs</a>
                            <a class="dropdown-item" href="/aboutus/#contact">Contact</a>
                            
                        </div>
                        </li>
                <li class="nav-item items">
                            <a class="nav-link" href="/directions/">Directions</a>
                        </li>
                        <li class="nav-item items">
                            <a class="nav-link" href="/newsletter/">Newsletters</a>
                        </li>
                
                <li class="nav-item items">
                <a class="nav-link" href="/login/">Login</a>
                        </li>
                
                        
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn my-2 my-sm-0 btn-search" type="submit"><i class="fas fa-search fa fa-2x"></i></button>
                    </form>
                    </div>
                
      </nav>
    
    
    <!-- main Content-->
    

<div class="row">
    <div class="col-md-12 text-center" style="min-height:600px;">

        <div class="jumbotron" style="background: #fff;">
            <h1 class="icon-color" style="font-weight: lighter;">ARE YOU LOOKING FOR A <br>
                HOARDING ADVERTISMENT SERVICES IN GHAZIABAD</h1><br>
            <img src="#" style="width:100%;height:250px;"/>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Hic obcaecati deserunt 
                recusandae dolores temporibus earum porro 
                sit cumque quidem ex?
            </p><br>
            <div class="row">
                <div class="col-md-6" style="border-right:1px solid #ccc;">
                    <h2>For Media Agency</h2><br>
                    <button class="btn btn-theme btn-lg ">Find Hoardings</button>
                </div>
                <div class="col-md-6">
                    <h2>For Media Agency</h2><br>
                    <button class="btn btn-theme btn-lg">List Hoardings</button>
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class=" row justify-content-center">
    
        <div class="col-md-12">
            <div class="jumbotron"style="min-height:500px;background:#fff url()   no-repeat;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row justify-content-center">
                              <div class="col-md-5">
                                <img src="#" style="width:200px;height:100px;"/>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet blanditiis numquam!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero iure itaque aliquam quo facere enim recusandae.</p>
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="#" style="width:100%;height:300px;"/>
                    </div>
                </div>

            </div>
        </div>
</div>


<div class=" row justify-content-center">
    
        <div class="col-md-12">
            <div class="jumbotron"style="min-height:500px;background:#fff url()   no-repeat;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row justify-content-center">
                              <div class="col-md-5">
                                <img src="#" style="width:200px;height:100px;"/>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet blanditiis numquam!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero iure itaque aliquam quo facere enim recusandae.</p>
                            </div>    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="#" style="width:100%;height:300px;"/>
                    </div>
                </div>

            </div>
        </div>
</div>


<div class=" row justify-content-center">
    
        <div class="col-md-12">
            <div class="jumbotron" id="panel-3" style="min-height:700px;background:#fff url()   no-repeat;">

                <div class="row justify-content-centers">
                    <div class="col-md-12">
                        <div id="p3-block-1">
                            <br>
                            <br>
                            <h1>OUR
                                <br>PARTNERS</h1>

                        </div>

                    </div>
                </div>
                <br>
                <div class="row justify-content-centers">
                    <div class="col-md-4">
                        <img src="https://omos.s3.amazonaws.com/img/images/poleadslogo.png" class="prt-img" alt="" />
                    </div>
                    <div class="col-md-4">
                        <img src="https://omos.s3.amazonaws.com/img/images/pt2.png" class="prt-img" alt="" />
                    </div>
                    <div class="col-md-4">
                        <img src="https://omos.s3.amazonaws.com/img/images/pt3.png" class="prt-img" alt="" />
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                            <button class="btn btn-theme btn-lg" style="border-radius:60px;width:300px;">Find Hoardings <br>in Ghazibad</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
    <!-- main Content-->
    <div class="row footer">
    
        <div class="col-md-8">
            <p style="margin-left:6em;">Contact us and we will get back you withen 24 hours</p>
            <br>
            <ul style="list-style:none;">
                <Li><i class="fas fa-map-marker-alt fa fa-2x" style="margin-right:1em;"></i>H.NO-402 Near DR. Ambedkar Inter Collage Indergrahi,Ghazibad,<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp India, PIN 201302</Li>
                <li><i class="fab fa-whatsapp fa fa-2x" style="margin-right:1em;"></i> +91 9911-639-985</li>
                <li><i class="fas fa-envelope  fa fa-2x"style="margin-right:1em;"></i>teamomoads@gmal.com</li>
            </ul>
            <br><br>
            <p style="margin-left:2em;">tearms & conditions</p>
        </div>
        <div class="col-md-4">
            <p>Links to other main Pages</p>
            <br><br><br>
            <img src="https://omos.s3.amazonaws.com/img/images/1x1_Logo.png" width="250px" height="auto" alt="" />
            <p>Copyright &copy 2018</p>
        </div>
    </div>
    
    
    
    <!-- main Content-->
    </body>
    
    </html>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    
    <script src="https://omos.s3.amazonaws.com/js/theme.js"></script>
    
    <script>
        $(document).ready(function(){
    
            $("#panel-4").css("background","url(https://omos.s3.amazonaws.com/img/images/back3.png) no-repeat");
            $("#panel-3").css("background","url(https://omos.s3.amazonaws.com/img/images/back4.png) no-repeat");
            $("#panel-2").css("background","url(https://omos.s3.amazonaws.com/img/images/back2.png) no-repeat");
            $("#panel-1").css("background","url(https://omos.s3.amazonaws.com/img/images/back1.png) no-repeat");
        });
    </script>
    
    
