{% load staticfiles %}
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128295937-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128295937-1');
</script>
    <title class="icon-color" style="font-weight: lighter;">Online Hoarding Booking | Outdoor Media Delhi-NCR, India</title>
    <meta name="description" content="Omoads provides out of home (OOH) media bookings. Online billboards and hoarding booking in Delhi NCR. Gantry, Unipole & Traffic Signage renting. Accurate board locations.">
    <meta name="keywords" content="hoarding marketing, ad hoardings, hoarding advertising services in Delhi-NCR, billboard adverts, billboard ads, hoardings in delhi-ncr, advertising hoardings in Delhi-NCR, billboard advertising, advertising through hoardings, outdoor hoarding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/theme.css'%}" />
</head>

<body>
        <!-- main Content-->
    
    


        <div class="row justify-content-center">
            <div class="col-md-10 text-center" style="min-height:600px;">
        
                <div class="jumbotron" style="background: #fff;">
                    <h1 class="icon-color" style="font-weight: lighter;"><b>ARE YOU LOOKING FOR <br>
                        HOARDING ADVERTISEMENT SERVICES IN DELHI-NCR?</b></h1><br>
                    <img src="{% static 'img/images' %}/IMG_4502.PNG" class="ln2-img1" />
                    <br><br>
                    <p>Whether you are a business or a media agency  looking  for billboard advertising spaces or you are a
                    billboard owner looking to rent ad hoadring, this is the right place for you! We will help you with hoarding booking.
                    </p><br>
                    <div class="row">
                        <div class="col-md-6" style="border-right:1px solid #ccc;">
                            <h2>For Media Agency</h2><br>
                            <a href="https://omoads.com/aboutus/#contact" class="btn btn-theme1 btn-lg ">Find Hoardings</a>
                        </div>
                        <div class="col-md-6">
                            <h2>For Hoarding Owners</h2><br>
                            <a href="https://omoads.com/aboutus/#contact" class="btn btn-theme1 btn-lg">List Hoardings</a>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        
        
        <div class=" row justify-content-center">
            
                <div class="col-md-12">
                    <div class="container">
                    <div class="jumbotron"style="min-height:500px;background:#fff url()   no-repeat;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row justify-content-center">
                                      <div class="col-md-5 text-center">
                                        <img src="{% static 'img/images' %}/1x1_Logo.png" class="ln2-img2" />
        
                                        <p>We let the campaigner connect directly to the owner of the advertising space.</p>
                                        <p>Rent hoardings, find the outdoor hoardinging space that you need form our collection of advertisment boards submited by billboard owners.</p>
                                        <p>We are here to faciliate your ooh hoarding advertisement campaign.</p>
                                    </div>    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br><br><br>
                                <img src="{% static 'img/images' %}/IMG_4505.PNG" class="ln2-img" />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>

        
        
        
        <div class=" row justify-content-center">
            
                <div class="col-md-12">
                    <div class="container">
                    <div class="jumbotron"style="min-height:500px;background:#fff url()   no-repeat;">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="ln2-heading" >What sets us apart</h1>
                            </div>
                            
                        </div>
                        <div class="row">
                                <div class="col-md-12" style="margin-top:2em;margin-left:5em;">
                                    <p style="float:left; margin-right: 1em;">Directly check availabilty of Hoarding Boards.</p>
                                    <i class="fas fa-clipboard-check fa fa-2x icon-color" ></i>
                                </div>
                                
                        </div>
                        <div class="row justify-content-center">
                                <div class="col-md-3" style="margin-top:2em;margin-left:4em;">
                                    <p style="float:left; margin-right: 1em;"><b>Zero % commission. Rent Hoardings in Delhi-NCR at minimum cost.</b></p>
                                    <i class="fas fa-clipboard-check fa fa-4x icon-color" ></i>
                                </div>
                                
                        </div>
                        <div class="row justify-content-start">
                                <div class="col-md-4" style="margin-top:2em;margin-left:4em;">
                                    <p style="float:left; margin-right: 1em;">No Mediator while hoarding booking. </p>
                                    <i class="fas fa-clipboard-check fa fa-3x icon-color" ></i>
                                </div>
                                
                        </div>
                        <div class="row justify-content-end">
                                <div class="col-md-4" style="margin-top:2em;">
                                    <p style="float:left; margin-right: 1em;">Direct Deal between two parties.</p>
                                    <i class="fas fa-clipboard-check fa fa-2x icon-color" ></i>
                                </div>
                                
                        </div>
                        <div class="row justify-content-start">
                                <div class="col-md-7" style="margin-top:2em;margin-left:2em;">
                                    <p style="float:left; margin-right: 1em;">Find and rent Hoardings based on geographic location.</p>
                                    <i class="fas fa-clipboard-check fa fa-2x icon-color" ></i>
                                </div>
                                

                        </div>
                    </div>
                    </div>
                </div>
        </div>
        
        <div class=" row justify-content-center">
            
                <div class="col-md-12">
                    <div class="jumbotron" id="panel-3" style="min-height:700px;background:#fff url()   no-repeat;">
        
                        <div class="row justify-content-centers">
                            <div class="col-md-12">
                                <div id="p3-block-1">
                                    <br>
                                    <br>
                                    <h1>OUR
                                        <br>PARTNERS</h1>
        
                                </div>
        
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="{% static 'img/images' %}/pt1.png" class="prt-img" alt="" />
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{% static 'img/images' %}/pt4.jpg" class="prt-img" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-md-3">
                                    <a href="http://omoads.com/map-view" class="btn btn-theme1 btn-lg" style="border-radius:60px;width:300px;">Find Hoardings <br>in Ghazibad</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
        
            
            
            
            
            
        <!-- main Content-->
        </body>
        
        </html>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
        
        <script src="https://omos.s3.amazonaws.com/js/theme.js"></script>
        
        <script>
            $(document).ready(function(){
        
                
            });
        </script>
            
            
