{% load staticfiles %}


<html>

<head>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128295937-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-783441254');
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/theme.css'%}" />
     <title class="icon-color" style="font-weight: lighter;">Book Hoardings | Hoarding Advertising Services in Delhi-NCR | OMOads
</title>
    <meta name="description" content="Easily book your hoarding space, favorable for advertising your business, commission free. Our Map and 360 view provides the best understanding of a hoarding in Delhi-NCR. ">
    <meta name="keywords" content="find hoardings in Delhi-NCR, advertising hoarding rents, online hoarding booking, book hoardings online, rent advertising hoarding, ooh advertising rates india, hoarding advertising cost, outdoor hoarding sizes

">
</head>

<body>
    
    <!-- main Content-->
    



    <div class="row justify-content-center">
        <div class="col-md-12">
    
            <div class="jumbotron" style="background: #fff; padding:0px;">
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <img src="{% static 'img/images' %}/1x1_Logo.png" class="ln1-img1"/>
                        
                        <span style="margin-left:1em;margin-top:-20px;" class="ln1-para" ><br>OMOADS: BOARD IT UP</span>
                    </div>
                    <div class="col-md-8">
                        <h2 class="icon-color ln1-heading" >
                            FINALLY, A PLACE WHERE YOU CAN CONTACT OWNERS 
                            TO BOOK HOARDINGS 
                        ONLINE IN DELHI-NCR</h2>
                        <p class="ln1-heading" >KNOW EVERY DETAILS ABOUT HOARDING BOARDS IN DELHI-NCR </p>
                    </div>
                </div>
                
                <img src="{% static 'img/images' %}/IMG_7598.jpg" style="width:100%;height:auto;"/>
                
                <a href="{% url 'aboutus' %}#contact" class="text-center ad-block ln1-banner" >
                    HAVE AN ADVERTISMENT?<br>
                    CONTACT US
                </a>
                
            </div>
            
        </div>
    </div>
    
    <div class=" row justify-content-center">
        
            <div class="col-md-12 text-center" style="min-height: 400px;">
                            
                <h2>Find and rent just your kind of hoardings </h2><br><br>
                            <div class="row justify-content-center">
                                    <div class="col-md-6">
                                        <a href="#" class="btn"><img src="{% static 'img/images' %}/IMG_6460.png"/></a>
                                        <a href="#" class="btn"><img src="{% static 'img/images' %}/IMG_6460 (1).png"/></a>
                                        <a href="#" class="btn"><img src="{% static 'img/images' %}/IMG_6460 (2).png"/></a>
                                    </div>    
                            </div>
                            <br><br><br>
                            <div class="row justify-content-center">
                                    <div class="col-md-7 text-center">
                                            <h5>Simply find the hoarding space that you need, from our 
                                                collection of billboards submitted by billboard owner.</h5>
                                    </div>    
                            </div>
                        
            </div>
    </div>
    <br><br>    
    <div class=" row justify-content-center">
        
        <div class="col-md-12 " style="min-height: 500px;">
                <div class="container"></div>
                        <h2 style="text-align: center;">Hoarding Advertising Services We Offer:</h2><br><br>
                        <div class="row justify-content-center">
                                <div class="col-md-2">
                                    <a href="#" class="btn"><img src="{% static 'img/images'%}/pt7.jpg" class="ln1-img"/></a>
                                </div>
                                <div class="col-md-4">
                                    <p class="ln1-heading">360 hoarding board and traffic view Outdoor hoarding 
                                        size and other details Hoarding Advertising cost estimate.<br>Owner's details.
                                    <br>Different type of hoarding boards.</p>
                                    <br>
                                    <span class="ln1-heading-span">Ganty Poles Ads</span><br>
                                    <span class="ln1-heading-span">Unipole Ads</span><br>
                                    <span class="ln1-heading-span">traffic Hoardings</span>
    
                                </div>    
                                <div class="col-md-2">
                                    <a href="#" class="btn"><img src="{% static 'img/images' %}/pt6.jpg"/></a>
                                </div>    
    
                        </div>
                    </div>

        </div>
    </div>
    

    <div class=" row justify-content-center">
        
            <div class="col-md-12">
                    <div class="container">
                <div class="jumbotron"style="min-height:500px;background:#fff url()   no-repeat;">
                    <div class="row">
                        <div class="col-md-6">
                                <h2 class="ln1-heading1">Save upto 10-15% per deal</h2><br><br>
                            <div class="row justify-content-center">
                                  <div class="col-md-5">
    
                                    <p>We offer direct deal between hoarding owner and the advertisers 
                                        who are looking to book hoardings in Delhi-NCR. So, no 
                                        commission is charged, yes you don't have to pay any mediator charges.
                                    </p>
                                    
                                </div>    
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'img/images' %}/IMG_4505.PNG" class="ln1-img2" />
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </div>

    
    
    <div class=" row justify-content-center">
        
            <div class="col-md-12">
                <div class="container">
                <div class="jumbotron"style="min-height:500px;background:#fff url()   no-repeat;">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="ln2-heading">What sets us apart</h1>
                        </div>
                        
                    </div>
                    <div class="row">
                            <div class="col-md-12" style="margin-top:2em;margin-left:5em;">
                                <p style="float:left; margin-right: 1em;">Directly check availabilty of Hoarding Boards.</p>
                                <i class="fas fa-clipboard-check fa fa-2x icon-color" ></i>
                            </div>
                            
                    </div>
                    <div class="row justify-content-center">
                            <div class="col-md-3" style="margin-top:2em;margin-left:4em;">
                                <p style="float:left; margin-right: 1em;"><b>Zero % commission. Rent Hoardings in Delhi-NCR at minimum cost.</b></p>
                                <i class="fas fa-clipboard-check fa fa-4x icon-color" ></i>
                            </div>
                            
                    </div>
                    <div class="row justify-content-start">
                            <div class="col-md-4" style="margin-top:2em;margin-left:4em;">
                                <p style="float:left; margin-right: 1em;"><b>No Mediator while hoarding booking.</b> </p>
                                <i class="fas fa-clipboard-check fa fa-3x icon-color" ></i>
                            </div>
                            
                    </div>

                    <div class="row justify-content-end">
                            <div class="col-md-4" style="margin-top:2em;">
                                <p style="float:left; margin-right: 1em;">Direct Deal between two parties.</p>
                                <i class="fas fa-clipboard-check fa fa-2x icon-color" ></i>
                            </div>
                            
                    </div>
                    <div class="row justify-content-start">
                            <div class="col-md-7" style="margin-top:2em;margin-left:2em;">
                                <p style="float:left; margin-right: 1em;">Find and rent Hoarding based on geographic location.</p>
                                <i class="fas fa-clipboard-check fa fa-2x icon-color" ></i>
                            </div>
                            

                    </div>
    
                </div>
                </div>
            </div>
    </div>
    
    
    <div class=" row justify-content-center">
        
            <div class="col-md-12">
                <div class="jumbotron" id="panel-3" style="min-height:700px;background:#fff url()   no-repeat;">
    
                    <div class="row justify-content-centers">
                        <div class="col-md-12">
                            <div id="p3-block-1">
                                <br>
                                <br>
                                <h1>OUR
                                    <br>PARTNERS</h1>
    
                            </div>
    
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'img/images' %}/pt1.png" class="prt-img" alt="" />
                                </div>
                                <div class="col-md-6">
                                    <img src="{% static 'img/images' %}/pt4.jpg" class="prt-img" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                                <a href="{% url 'map_view' %}" class="btn btn-theme1 btn-lg" style="border-radius:60px;width:300px;">Find Hoardings</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
        
        <!-- main Content-->
        
        
        
        
        </body>
        
        </html>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
        
        <script src="https://omos.s3.amazonaws.com/js/theme.js"></script>
        
        <script>
            $(document).ready(function(){
        
                
            });
        </script>
        
        
