{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105587377-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
<div class="container-fluid abc">
    <div class="col-sm-4"></div>
    <div class="signup-box col-sm-4" >
        <div class="header">
            <h2 class="">Welcome to <span style="color: #ff6c00;">OmoAds</span></h2>
        </div>
        <form class="frm" method="POST">
            {% csrf_token %}
                        <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" id="phone" placeholder="Contact">-->
            <!--</div>-->
            <div class="form-group">
                {{ form.username }}
            </div>

            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                <input class = "form-control" type = "text" name = "phone_number" placeholder = "enter phone number..">
            </div>
            <div class="form-group">
                {{ form.password1 }}
            </div>

            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="row">
                <input type='submit' value='Sign Up' class='btn btn-default' />
                <!-- <button type="submit" class="btn btnLogin" style="border-radius: 4px;">Login</button> -->
            </div>
        </form>

    </div>
    <div class="col-sm-4"></div>
</div>
</body>
</html>