<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body>
<div class="container-fluid abc">
    <div class="col-sm-4"></div>
    <div class="signup-box col-sm-4" >
        <div class="header">
            <h2 class="">Welcome to <span style="color: #ff6c00;">OmoAds</span></h2>
        </div>
        <form class="frm" method="POST" id = "signupOwner">
            {% csrf_token %}
                        <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" id="phone" placeholder="Contact">-->
            <!--</div>-->
            <div class="form-group">
                {{ form.username }}
            </div>

            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ agency.agency_name }}
            </div>

            <div class="form-group">
                {{ agency.agency_city }}
            </div>
            <div class="form-group">
                {{ agency.agency_state }}
            </div>


        


           

            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <div class="row">
                <button type="submit" class="btn btnLogin" style="border-radius: 4px;">Sign Up</button>
            </div>
        </form>

    </div>
    <div class="col-sm-4"></div>
</div>
</body>
</html>