
{% extends 'base.html'%}

{% load staticfiles %}

{% block custom_css %}
 <style>
    .form-control::-webkit-input-placeholder { color: #aaa; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { color: #aaa; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { color: #aaa; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { color: #aaa; }  /* Microsoft Edge */
    </style>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12"style="min-height:600px;padding:20px;">
	
		<div class="container">
		<br>
			<h2 style="font-weight:lighter;">Question Area</h2>
			<br>
			<div class="answer" style="width:100%;min-height:300px;background:#efefef;">
			
			</div>
			<hr width="100%"></hr>
			<br>
			<a href="{% url 'aboutus' %}#faq" style="margin-left:45%;border:2px solid #fd7b26;border-radius:30px; 
										width:150px;height:60px;background:none;
										color:#fd7b26;padding:15px 25px;">FAQ HOME</a> 
		</div>
	</div>
</div>


{% include 'footer.html' %}


{% endblock %}


{% block custom_js %}
<script>
    function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

function checkCookie() {
    var faq = getCookie("faqid");
    if (faq != "") {
        
    } 
}



</script>

{% endblock %}
