{% extends 'base1.html' %}


{% block head_title %}
Status || 
{% endblock %}

{% block specific_cdns %}
<style type="text/css">
  .progress-bar-success {
    background-color: #d6d6d6;
  } 
  .progress-bar-danger {
      background-color: #5dc679;
  }
</style>
{% endblock %}

{% block specific_css %}
<style type="text/css">
  .status{
    background-color: #000;
    color: #fff;
  }
</style>
{% endblock %}

{% block main_area %}
	<div class="col-sm-10 main-area">
		<div class="top-filters">
			<h3 class="filter-heading">Filters :</h3>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle zone-filter" type="button" data-toggle="dropdown">Zones
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<form class="zone-form">
						{% for zone in zones %}
           <div class="checkbox">
            <label><input type="checkbox"> {{zone.zone_name}}</label>
          </div>
          {% endfor %}
						</form>
					</ul>
			</div>
		</div>

    <div class="status-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 25%;">Hoarding</th>
            <th class="text-center">Availablity</th>
          </tr>
        </thead>
        <style>
            #tbody *{box-sizing: border-box;}header{position: relative;width: 100%;}header h1{text-align: center;padding-top: 0.01em;}header p{text-align: center;}header p span{display: inline-block;height: 12px;width: 12px;background-color: #0f0;}main{display: grid;/*grid-template-columns: 30% 70%;*/grid-gap: 5px;}.col{margin: 10px 0;line-height: 2;text-align: center;}.data-strip{position: relative;display: inline-block;height: 30px;width: 100%;text-align: left;grid-gap: 0;}.child{display: inline-block;height: 100%;margin-right: 3px;transition: all 200ms ease;}.child.booked{background-color: #0f0;}.child.not-booked{background-color: #888;}.child:hover{transform: scale(1.4);box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);transition: all 200ms ease;}
        </style>
        <tbody>
          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;1 March, 2017 - 31 March, 2017"> 
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">               
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
    		


  </div>
  <script>

    //Format for JSON
    // [
    //   {
    //     "name": String name,
    //     "bookDates": [bookdates array]
    //   }
    // ]
    // Iterate through the array and call buildAvailChart() with the individual object





    let parent = document.querySelector('.status-container tbody')
    while (parent.firstChild) {
      parent.removeChild(parent.firstChild);
    }
    let nn = {"name": "Hapur Road, Near Hapur Chungi", "bookDates": [{"startDate": "2018/06/23","endDate": "2018/06/30","ppd": 35,"status": "booked"},{"startDate": "2018/08/06","endDate": "2018/08/30","ppd": 40,"status": "booked"},{"startDate": "2018/08/31","endDate": "2018/09/15","ppd": 45,"status": "booked"},{"startDate": "2018/11/16","endDate": "2018/11/28","ppd": 22,"status": "booked"},{"startDate": "2018/11/29","endDate": "2019/01/15","ppd": 20,"status": "booked"},{"startDate": "2019/01/31","endDate": "2019/02/28","ppd": 34,"status": "booked"},{"startDate": "2019/03/01","endDate": "2019/03/10","ppd": 54,"status": "booked"},{"startDate": "2019/04/12","endDate": "2019/04/15","ppd": 37,"status": "booked"},{"startDate": "2019/04/16","endDate": "2019/06/23","ppd": 29,"status": "booked"},{"startDate": "2019/08/01","endDate": "2019/08/23","ppd": 29,"status": "booked"}]}
    buildAvailChart(nn)

      function buildAvailChart(board){
        let parent = document.querySelector('.status-container tbody')
        parent.innerHTML += `<tr><td>${board['name']}</td><td colspan="4" style="padding: 0px;"><div class="data-strip"></div></td></tr>`
        let dataStrip = parent.querySelector('.data-strip')
        let json = board['bookDates']
        let d = new Date()
        let todayDate = `${d.getFullYear()}/${parseInt(d.getMonth())+1 < 10 ? '0' + (parseInt(d.getMonth())+1) : parseInt(d.getMonth())+1 }/${d.getDate() < 10 ? '0' + d.getDate() : d.getDate()}`
        let yrLaterDate = `${d.getFullYear() + 1}/${parseInt(d.getMonth())+1 < 10 ? '0' + (parseInt(d.getMonth())+1) : parseInt(d.getMonth())+1 }/${d.getDate() < 10 ? '0' + d.getDate() : d.getDate()}`
        let yrLater = Date.parse(yrLaterDate)
        let today = Date.parse(todayDate)
        let bgn
        let end = json.length
        for(let ind = 0; ind < json.length; ind++){
          if((Date.parse(json[ind]['startDate']) < today && Date.parse(json[ind]['endDate']) > today) || (Date.parse(json[ind]['startDate']) >= today && Date.parse(json[ind]['endDate']) > today)){
            bgn = ind
            break
          }
        }
        for(let ind = 0; ind < json.length; ind++){
          if(Date.parse(json[ind]['startDate']) >= yrLater){
            end = ind
            break
          }
        }
        let jsonNew = json.slice(bgn, end)
        console.log(jsonNew)
        if(Date.parse(jsonNew[0]['startDate']) > today){
          makeAvailChild(dataStrip, todayDate, jsonNew[0]['startDate'], 'not-booked')
        }
        jsonNew.map((el, ind) => {

          if(ind > 1){
            let prevObj = jsonNew[ind - 1]
            if(Date.parse(prevObj['endDate']) != Date.parse(el['startDate'])){
              makeAvailChild(dataStrip, prevObj['endDate'], el['startDate'], 'not-booked')
            }
          }
          if(Date.parse(el['endDate']) > yrLater){
            makeAvailChild(dataStrip, el['startDate'], yrLaterDate, 'booked')
          }
          else{
            makeAvailChild(dataStrip, el['startDate'], el['endDate'], 'booked')
          }
        })
        if(Date.parse(jsonNew[jsonNew.length - 1]['endDate']) < yrLater){
          makeAvailChild(dataStrip, jsonNew[jsonNew.length - 1]['endDate'], yrLaterDate, 'not-booked')
        }
        parent.appendChild
    
    
    
      }
    
    
      function makeAvailChild(parent, st, en, av){
        let startDate = Date.parse(st)
        let endDate = Date.parse(en)
        let duration = Math.abs((startDate - endDate)) / (1000 * 60 * 60 * 24)
        if(duration > 1){
          let percent = (duration / 365) * 100
          let child = document.createElement('a')
          let title = `"${av}"\n${new Date(st).toDateString().substring(4)} - ${new Date(en).toDateString().substring(4)}`
          child.title = title
          child.href = '#'
          child.classList.add('child')
          child.classList.add(av)
          child.style.width = `calc(${percent}% - 3px)`
          parent.appendChild(child)
        }
          
        }
    
    let json = [{"startDate": "2018/06/23","endDate": "2018/06/30","ppd": 35,"status": "booked"},{"startDate": "2018/08/06","endDate": "2018/08/30","ppd": 40,"status": "booked"},{"startDate": "2018/08/31","endDate": "2018/09/15","ppd": 45,"status": "booked"},{"startDate": "2018/11/16","endDate": "2018/11/28","ppd": 22,"status": "booked"},{"startDate": "2018/11/29","endDate": "2019/01/15","ppd": 20,"status": "booked"},{"startDate": "2019/01/31","endDate": "2019/02/28","ppd": 34,"status": "booked"},{"startDate": "2019/03/01","endDate": "2019/03/10","ppd": 54,"status": "booked"},{"startDate": "2019/04/12","endDate": "2019/04/15","ppd": 37,"status": "booked"},{"startDate": "2019/04/16","endDate": "2019/06/23","ppd": 29,"status": "booked"},{"startDate": "2019/08/01","endDate": "2019/08/23","ppd": 29,"status": "booked"}]
                    
  </script>
{% endblock %}







