{% extends 'base1.html' %}


{% block head_title %}
Status || 
{% endblock %}

{% block specific_cdns %}
<style type="text/css">
  .progress-bar-success {
    background-color: #d6d6d6;
  } 
  .progress-bar-danger {
      background-color: #5dc679;
  }
</style>
{% endblock %}

{% block main_area %}
	<div class="col-sm-9 main-area">
		<div class="top-filters">
			<h3 class="filter-heading">Filters :</h3>
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle zone-filter" type="button" data-toggle="dropdown">Zones
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<form class="zone-form">
						{% for zone in zones %}
           <div class="checkbox">
            <label><input type="checkbox"> {{zone.zone_name}}</label>
          </div>
          {% endfor %}
						</form>
					</ul>
			</div>
		</div>

    <div class="status-container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 30%;">Hoarding</th>
            <th class="text-center">Jan</th>
            <th class="text-center">Feb</th>
            <th class="text-center">Mar</th>
            <th class="text-center">Apr</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;1 March, 2017 - 31 March, 2017"> 
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:37.25%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:37.75%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:35%">               
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">        
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;1 March, 2017 - 31 March, 2017"> 
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:37.25%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:37.75%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:35%">               
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">        
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:50%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;1 March, 2017 - 31 March, 2017"> 
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:37.25%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:25%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:37.75%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom:20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:35%">               
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">        
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">               
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>Hapur Road, Near Hapur Chungi</td>
            <td colspan="4" style="padding: 0px; padding-top: 20px; padding-bottom: 20px;">
              <div class="progress" style="margin: 0px;">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%" data-toggle="tooltip" title="Price: &#8377 1,40,000 &#10;14  Feb, 2017 - 15 March, 2017">
                </div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:25%">               
                </div>
              </div>
            </td>
          </tr>

          
        </tbody>
      </table>
      
    </div>
    		


	</div>
{% endblock %}